@model List<Application.MainBoundedContext.DTO.AccountsModule.RecurringBatchDTO>
@{
    ViewBag.Title = "LoanIndefiniteCharges";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="CashDepositGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Branch Description</th>
                                    <th>Created Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#CashDepositGrid').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("Index", "CustomerAccounts", new { Area = "Accounts" })",
                    "type": "POST"
                },
                "columns": [
                    { "data": null, "defaultContent": '<input type="checkbox" class="row-select">' },
                    { "data": "BranchDescription" },
                    { "data": "CreatedDate" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/frontOffice/CashDeposit/details/' + row.Id + '" class="btn btn-outline-info">View</a>' +
                                '<a href="/frontOffice/CashDeposit/edit/' + row.Id + '" class="btn btn-outline-info">Edit</a>';
                        }
                    }
                ]
            });

            // Handle row selection
            $('#CashDepositGrid tbody').on('click', 'input.row-select', function () {
                var data = table.row($(this).closest('tr')).data();
                // Handle checkbox selection logic here
            });
        });
    </script>
}
