@model Application.MainBoundedContext.DTO.GeneralLedgerTransaction

@{
    ViewBag.Title = "Create Sundry Payments";
    var generalTransactionType = ViewBag.TransactionTypeSelectList as List<SelectListItem>;
}

<head>
    <style>
        .nav-tabs .nav-link {
            background-color: transparent;
        }

            .nav-tabs .nav-link.active {
                background-color: #f8f9fa; /* light grey */
            }

        .tab-pane {
            display: none;
        }

            .tab-pane.show {
                display: block;
            }
    </style>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cash Transactions</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Index", "Home", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "SundryPayments", new { Area = "FrontOffice" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">×</button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<div id="sundryPayments" class="container-fluid mt-3">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Create", "SundryPayments", new { Area = "FrontOffice" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <ul class="nav nav-tabs mb-3" id="mainTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#transactionTab">Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tellerGLAccountStatementTab">Teller G/L Account Statement</a>
                    </li>
                </ul>

                <div class="tab-content" id="mainTabContent">
                    <div id="transactionTab" class="tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="transactionType" class="col-sm-3 col-form-label text-success">Transaction Type:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="transactionType">
                                            <option>Cash Payment</option>
                                            <option selected>Cash Payment (Account Closure)</option>
                                            <option>Cash Pickup</option>
                                            <option>Cash Receipt</option>
                                            <option>Cheque Receipt</option>
                                            <option>Sundry Payment</option>
                                        </select>
                                    </div>
                                </div>

                                <ul class="nav nav-tabs mt-3" id="transactionSubTabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#cashPaymentTab">Cash Payment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cashPaymentClosureTab">Cash Payment (Account Closure)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cashPickupTab">Cash Pickup</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#cashReceiptTab">Cash Receipt</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#chequeReceiptTab">Cheque Receipt</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#sundryPaymentTab">Sundry Payment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#chargesLeviesTab">Charges & Levies</a>
                                    </li>

                                </ul>

                                <div class="tab-content mt-3" id="transactionSubTabContent">
                                    <div id="cashPaymentTab" class="tab-pane fade show active" role="tabpanel">
                                        <div class="form-group row">
                                            <label for="glAccount" class="col-sm-3 col-form-label">G/L Account:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="glAccount">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="amount" class="col-sm-3 col-form-label">Amount:</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" id="amount">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="reference" class="col-sm-3 col-form-label">Reference:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="reference">
                                            </div>
                                        </div>
                                    </div>

                                    <div id="cashPaymentClosureTab" class="tab-pane fade" role="tabpanel">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="fullAccountNumber" class="text-success">Full Account Number:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="fullAccountNumber">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="accountStatus" class="text-success">Account Status:</label>
                                                <input type="text" class="form-control" id="accountStatus">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="accountRemarks" class="text-success">Account Remarks:</label>
                                                <input type="text" class="form-control" id="accountRemarks">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="productName" class="text-success">Product Name:</label>
                                                <input type="text" class="form-control" id="productName">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="customer" class="text-success">Customer:</label>
                                                <input type="text" class="form-control" id="customer">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="type" class="text-success">Type:</label>
                                                <input type="text" class="form-control" id="type">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="payrollNumbers" class="text-success">Payroll Numbers:</label>
                                                <input type="text" class="form-control" id="payrollNumbers">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="identificationNumber" class="text-success">Identification Number:</label>
                                                <input type="text" class="form-control" id="identificationNumber">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="accountNumber" class="text-success">Account Number:</label>
                                                <input type="text" class="form-control" id="accountNumber">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="membershipNumber" class="text-success">Membership Number:</label>
                                                <input type="text" class="form-control" id="membershipNumber">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="personalFileNumber" class="text-success">Personal File Number:</label>
                                                <input type="text" class="form-control" id="personalFileNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reason" class="text-success">Reason:</label>
                                            <textarea class="form-control" id="reason" rows="3"></textarea>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="bookBalance" class="text-success">Book Balance:</label>
                                                <input type="number" class="form-control" id="bookBalance">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="netPayable" class="text-success">Net Payable:</label>
                                                <input type="number" class="form-control" id="netPayable" value="0.00" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="cashPickupTab" class="tab-pane fade" role="tabpanel">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="entryBeneficiary" class="text-success">Entry Beneficiary:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="entryBeneficiary">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="entryReference" class="text-success">Entry Reference:</label>
                                                <input type="text" class="form-control" id="entryReference">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="batchNumber" class="text-success">Batch Number:</label>
                                                <input type="text" class="form-control" id="batchNumber">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="batchReference" class="text-success">Batch Reference:</label>
                                                <input type="text" class="form-control" id="batchReference">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="batchMonth" class="text-success">Batch Month:</label>
                                                <input type="text" class="form-control" id="batchMonth">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="entryAmount" class="text-success">Entry Amount:</label>
                                                <input type="number" class="form-control" id="entryAmount">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="netPayable" class="text-success">Net Payable:</label>
                                            <input type="number" class="form-control" id="netPayable" value="0.00" readonly>
                                        </div>
                                    </div>

                                    <!-- Cash Receipt Section -->
                                    <div id="cashReceiptTab" class="tab-pane fade" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="tallyType" id="tallyByCount" checked>
                                                            <label class="form-check-label" for="tallyByCount">Tally-by-Count</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="tallyType" id="tallyByTotal">
                                                            <label class="form-check-label" for="tallyByTotal">Tally-by-Total</label>
                                                        </div>
                                                        <div class="mt-3">
                                                            <div class="form-row mb-2">
                                                                <div class="col-6">
                                                                    <input type="number" class="form-control" placeholder="1000x">
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" value="£1,000.00" readonly>
                                                                </div>
                                                            </div>
                                                            <!-- Repeat for other denominations -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label for="glAccount" class="col-sm-3 col-form-label text-success">G/L Account:</label>
                                                    <div class="col-sm-9">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="glAccount" value="4-4210018 FOSA - SALE OF FORMS">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="accountType" class="col-sm-3 col-form-label text-success">Account Type:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="accountType" value="Income/Revenue" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="amount" class="col-sm-3 col-form-label text-success">Amount:</label>
                                                    <div class="col-sm-9">
                                                        <input type="number" class="form-control" id="amount" value="1000.00">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="reference" class="col-sm-3 col-form-label text-success">Reference:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="reference" value="ok">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="chequeReceiptTab" class="tab-pane fade" role="tabpanel">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="glAccount" class="text-success">G/L Account:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="glAccount" value="2-2240004 BOSA - STAFF PAYROLL ACCOUNT PAYABLES">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="accountType" class="text-success">Account Type:</label>
                                                <input type="text" class="form-control" id="accountType" value="Liability" readonly>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="drawer" class="text-success">Drawer:</label>
                                                <input type="text" class="form-control" id="drawer">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="date" class="text-success">Date:</label>
                                                <input type="date" class="form-control" id="date" value="2015-10-26">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="bank" class="text-success">Bank:</label>
                                                <input type="text" class="form-control" id="bank" value="Equity Bank Ltd">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="bankBranch" class="text-success">Bank Branch:</label>
                                                <input type="text" class="form-control" id="bankBranch" value="Biashara Street">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="chequeType" class="text-success">Cheque Type:</label>
                                                <input type="text" class="form-control" id="chequeType" value="Local Cheques">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="maturityDate" class="text-success">Maturity Date:</label>
                                                <input type="date" class="form-control" id="maturityDate" value="2015-11-02">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="amount" class="text-success">Amount:</label>
                                                <input type="number" class="form-control" id="amount" value="125000.00">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="chequeNumber" class="text-success">Cheque Number:</label>
                                                <input type="text" class="form-control" id="chequeNumber" value="056855">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reference" class="text-success">Reference:</label>
                                            <input type="text" class="form-control" id="reference" value="t - salaries">
                                        </div>
                                    </div>


                                    <div id="sundryPaymentTab" class="tab-pane fade" role="tabpanel">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="glAccount" class="text-success">G/L Account:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="glAccount">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="entryReference" class="text-success">Entry Reference:</label>
                                                <input type="text" class="form-control" id="entryReference">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="batchNumber" class="text-success">Batch Number:</label>
                                                <input type="text" class="form-control" id="batchNumber">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="batchReference" class="text-success">Batch Reference:</label>
                                                <input type="text" class="form-control" id="batchReference">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="batchMonth" class="text-success">Batch Month:</label>
                                                <input type="text" class="form-control" id="batchMonth">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="entryAmount" class="text-success">Entry Amount:</label>
                                                <input type="number" class="form-control" id="entryAmount">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="netPayable" class="text-success">Net Payable:</label>
                                            <input type="number" class="form-control" id="netPayable" value="0.00" readonly>
                                        </div>
                                    </div>

                                    <div id="chargesLeviesTab" class="tab-pane fade" role="tabpanel">
                                        <!-- Content for Charges & Levies tab -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tellerGLAccountStatementTab" class="tab-pane fade">
                        <!-- Content for Teller G/L Account Statement -->
                    </div>
                </div>

                <div class="form-group">
                    <div style="margin-top: 20px; text-align: right;">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    // Function to update tab styles
    function updateTabStyles() {
        $('.nav-tabs a').removeClass('active bg-light');
        $('.nav-tabs a.active').addClass('bg-light');
    }

    // Function to show/hide tab content
    function updateTabContent() {
        $('.tab-pane').removeClass('show active');
        $('.tab-pane.active').addClass('show');
    }

    // Main tabs
    $('#mainTabContent a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
        updateTabStyles();
        updateTabContent();
    });

    // Transaction sub-tabs
    $('#transactionSubTabs').on('click', 'a', function (e) {
        e.preventDefault();
        $(this).tab('show');
        updateTabStyles();
        updateTabContent();
    });


    // Initial update
    updateTabStyles();
    updateTabContent();
});
</script>