
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Alert</title>
</head>
<body>
    <p>
        ABC bank transaction KES @Raw(Model.TotalValue) @Raw(Model.Reference), @Raw(Model.PrimaryDescription)
    </p>
    <p>
        @Raw(Model.CompanyDescription)
    </p>
</body>
</html>  