
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Alert</title>
</head>
<body>
    <p>
        Dear customer, your account has been credited with a cash deposit of KES @Raw(Model.TotalValue) at @Raw(Model.BranchDescription)
    </p>
    <p>
        @Raw(Model.CompanyDescription)
    </p>
</body>
</html>  