
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Alert</title>
</head>
<body>
    <p>
         Your details have been edited. New @Raw(Model.AccountAlertReference), @Raw(Model.AccountAlertPrimaryDescription).
    </p>
</body>
</html>  