<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\swift_logs\swift-utility-log-{Date}.log" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBindingHTTP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53902/CompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.ICompanyService" name="ICompanyService" />
      <endpoint address="http://localhost:53902/BankService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.IBankService" name="IBankService" />
      <endpoint address="http://localhost:53902/BranchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.IBranchService" name="IBranchService" />
      <endpoint address="http://localhost:53902/ReportService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.IReportService" name="IReportService" />
      <endpoint address="http://localhost:53902/ModuleNavigationItemService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.IModuleNavigationItemService" name="IModuleNavigationItemService" />
      <endpoint address="http://localhost:53902/AuditLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.IAuditLogService" name="IAuditLogService" />
      <endpoint address="http://localhost:53902/FileUploadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.IFileUploadService" name="IFileUploadService" />
      <endpoint address="http://localhost:53902/MediaService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.IMediaService" name="IMediaService" />
      <endpoint address="http://localhost:53902/UtilityService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.IUtilityService" name="IUtilityService" />
      <endpoint address="http://localhost:53902/UserManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MembershipModule.IUserManagerService" name="IUserManagerService" />
      <endpoint address="http://localhost:53902/PasswordManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MembershipModule.IPasswordManagerService" name="IPasswordManagerService" />
      <endpoint address="http://localhost:53902/RoleManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MembershipModule.IRoleManagerService" name="IRoleManagerService" />
      <endpoint address="http://localhost:53902/MembershipManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MembershipModule.IMembershipManagerService" name="IMembershipManagerService" />
      <endpoint address="http://localhost:40939/MembershipService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AdministrationModule.IMembershipService" name="IMembershipService" />
      <endpoint address="http://localhost:53902/MicroCreditOfficerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditOfficerService" name="IMicroCreditOfficerService" />
      <endpoint address="http://localhost:53902/MicroCreditGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditGroupService" name="IMicroCreditGroupService" />
      <endpoint address="http://localhost:53902/EmailAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MessagingModule.IEmailAlertService" name="IEmailAlertService" />
      <endpoint address="http://localhost:53902/TextAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MessagingModule.ITextAlertService" name="ITextAlertService" />
      <endpoint address="http://localhost:53902/MessageGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.MessagingModule.IMessageGroupService" name="IMessageGroupService" />
      <endpoint address="http://localhost:53902/FiscalCountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IFiscalCountService" name="IFiscalCountService" />
      <endpoint address="http://localhost:53902/InHouseChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IInHouseChequeService" name="IInHouseChequeService" />
      <endpoint address="http://localhost:53902/ExternalChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IExternalChequeService" name="IExternalChequeService" />
      <endpoint address="http://localhost:53902/FixedDepositService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IFixedDepositService" name="IFixedDepositService" />
      <endpoint address="http://localhost:53902/CashWithdrawalRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.ICashWithdrawalRequestService" name="ICashWithdrawalRequestService" />
      <endpoint address="http://localhost:53902/ElectronicJournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IElectronicJournalService" name="IElectronicJournalService" />
      <endpoint address="http://localhost:53902/ExpensePayableService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IExpensePayableService" name="IExpensePayableService" />
      <endpoint address="http://localhost:53902/AccountClosureRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.IAccountClosureRequestService" name="IAccountClosureRequestService" />
      <endpoint address="http://localhost:53902/IncomeAdjustmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.IIncomeAdjustmentService" name="IIncomeAdjustmentService" />
      <endpoint address="http://localhost:53902/LoanCaseService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.ILoanCaseService" name="ILoanCaseService" />
      <endpoint address="http://localhost:53902/LoaningRemarkService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.ILoaningRemarkService" name="ILoaningRemarkService" />
      <endpoint address="http://localhost:53902/LoanPurposeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.ILoanPurposeService" name="ILoanPurposeService" />
      <endpoint address="http://localhost:53902/DataAttachmentPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.IDataAttachmentPeriodService" name="IDataAttachmentPeriodService" />
      <endpoint address="http://localhost:53902/LoanDisbursementBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.ILoanDisbursementBatchService" name="ILoanDisbursementBatchService" />
      <endpoint address="http://localhost:53902/LoanRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.BackOfficeModule.ILoanRequestService" name="ILoanRequestService" />
      <endpoint address="http://localhost:53902/PaySlipService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IPaySlipService" name="IPaySlipService" />
      <endpoint address="http://localhost:53902/HolidayService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IHolidayService" name="IHolidayService" />
      <endpoint address="http://localhost:53902/DesignationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IDesignationService" name="IDesignationService" />
      <endpoint address="http://localhost:53902/DepartmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IDepartmentService" name="IDepartmentService" />
      <endpoint address="http://localhost:53902/EmployeeDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeDocumentService" name="IEmployeeDocumentService" />
      <endpoint address="http://localhost:53902/SalaryCardService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryCardService" name="ISalaryCardService" />
      <endpoint address="http://localhost:53902/SalaryPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryPeriodService" name="ISalaryPeriodService" />
      <endpoint address="http://localhost:53902/SalaryGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryGroupService" name="ISalaryGroupService" />
      <endpoint address="http://localhost:53902/SalaryHeadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryHeadService" name="ISalaryHeadService" />
      <endpoint address="http://localhost:53902/EmployeeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeService" name="IEmployeeService" />
      <endpoint address="http://localhost:53902/LeaveApplicationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ILeaveApplicationService" name="ILeaveApplicationService" />
      <endpoint address="http://localhost:53902/EmployeeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeTypeService" name="IEmployeeTypeService" />
      <endpoint address="http://localhost:53902/CustomerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.ICustomerService" name="ICustomerService" />
      <endpoint address="http://localhost:53902/DelegateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IDelegateService" name="IDelegateService" />
      <endpoint address="http://localhost:53902/DirectorService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IDirectorService" name="IDirectorService" />
      <endpoint address="http://localhost:53902/EmployerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IEmployerService" name="IEmployerService" />
      <endpoint address="http://localhost:53902/FileRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IFileRegisterService" name="IFileRegisterService" />
      <endpoint address="http://localhost:53902/WithdrawalNotificationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IWithdrawalNotificationService" name="IWithdrawalNotificationService" />
      <endpoint address="http://localhost:53902/ZoneService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IZoneService" name="IZoneService" />
      <endpoint address="http://localhost:53902/CustomerDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.ICustomerDocumentService" name="ICustomerDocumentService" />
      <endpoint address="http://localhost:53902/CommissionExemptionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.ICommissionExemptionService" name="ICommissionExemptionService" />
      <endpoint address="http://localhost:53902/EducationVenueService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IEducationVenueService" name="IEducationVenueService" />
      <endpoint address="http://localhost:53902/EducationRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IEducationRegisterService" name="IEducationRegisterService" />
      <endpoint address="http://localhost:53902/ConditionalLendingService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IConditionalLendingService" name="IConditionalLendingService" />
      <endpoint address="http://localhost:53902/AlternateChannelLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelLogService" name="IAlternateChannelLogService" />
      <endpoint address="http://localhost:53902/AlternateChannelService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelService" name="IAlternateChannelService" />
      <endpoint address="http://localhost:53902/ChartOfAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IChartOfAccountService" name="IChartOfAccountService" />
      <endpoint address="http://localhost:53902/CustomerAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ICustomerAccountService" name="ICustomerAccountService" />
      <endpoint address="http://localhost:53902/JournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IJournalService" name="IJournalService" />
      <endpoint address="http://localhost:53902/JournalEntryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IJournalEntryService" name="IJournalEntryService" />
      <endpoint address="http://localhost:53902/PostingPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IPostingPeriodService" name="IPostingPeriodService" />
      <endpoint address="http://localhost:53902/CommissionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ICommissionService" name="ICommissionService" />
      <endpoint address="http://localhost:53902/LevyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ILevyService" name="ILevyService" />
      <endpoint address="http://localhost:53902/LoanProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ILoanProductService" name="ILoanProductService" />
      <endpoint address="http://localhost:53902/SavingsProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ISavingsProductService" name="ISavingsProductService" />
      <endpoint address="http://localhost:53902/InvestmentProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IInvestmentProductService" name="IInvestmentProductService" />
      <endpoint address="http://localhost:53902/DynamicChargeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IDynamicChargeService" name="IDynamicChargeService" />
      <endpoint address="http://localhost:53902/CostCenterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ICostCenterService" name="ICostCenterService" />
      <endpoint address="http://localhost:53902/TellerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ITellerService" name="ITellerService" />
      <endpoint address="http://localhost:53902/BankLinkageService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IBankLinkageService" name="IBankLinkageService" />
      <endpoint address="http://localhost:53902/BudgetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IBudgetService" name="IBudgetService" />
      <endpoint address="http://localhost:53902/JournalVoucherService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IJournalVoucherService" name="IJournalVoucherService" />
      <endpoint address="http://localhost:53902/TreasuryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ITreasuryService" name="ITreasuryService" />
      <endpoint address="http://localhost:53902/InsuranceCompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IInsuranceCompanyService" name="IInsuranceCompanyService" />
      <endpoint address="http://localhost:53902/UnPayReasonService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IUnPayReasonService" name="IUnPayReasonService" />
      <endpoint address="http://localhost:53902/ChequeBookService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IChequeBookService" name="IChequeBookService" />
      <endpoint address="http://localhost:53902/ReportTemplateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IReportTemplateService" name="IReportTemplateService" />
      <endpoint address="http://localhost:53902/StandingOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IStandingOrderService" name="IStandingOrderService" />
      <endpoint address="http://localhost:53902/ChequeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IChequeTypeService" name="IChequeTypeService" />
      <endpoint address="http://localhost:53902/OverDeductionBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IOverDeductionBatchService" name="IOverDeductionBatchService" />
      <endpoint address="http://localhost:53902/CreditTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ICreditTypeService" name="ICreditTypeService" />
      <endpoint address="http://localhost:53902/DebitTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IDebitTypeService" name="IDebitTypeService" />
      <endpoint address="http://localhost:53902/DirectDebitService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IDirectDebitService" name="IDirectDebitService" />
      <endpoint address="http://localhost:53902/DebitBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IDebitBatchService" name="IDebitBatchService" />
      <endpoint address="http://localhost:53902/CreditBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.ICreditBatchService" name="ICreditBatchService" />
      <endpoint address="http://localhost:53902/WireTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IWireTransferBatchService" name="IWireTransferBatchService" />
      <endpoint address="http://localhost:53902/RecurringBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IRecurringBatchService" name="IRecurringBatchService" />
      <endpoint address="http://localhost:53902/BankReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IBankReconciliationPeriodService" name="IBankReconciliationPeriodService" />
      <endpoint address="http://localhost:53902/JournalReversalBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IJournalReversalBatchService" name="IJournalReversalBatchService" />
      <endpoint address="http://localhost:53902/InterAccountTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IInterAccountTransferBatchService" name="IInterAccountTransferBatchService" />
      <endpoint address="http://localhost:53902/MobileToBankRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IMobileToBankRequestService" name="IMobileToBankRequestService" />
      <endpoint address="http://localhost:53902/GeneralLedgerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IGeneralLedgerService" name="IGeneralLedgerService" />
      <endpoint address="http://localhost:53902/AlternateChannelReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelReconciliationPeriodService" name="IAlternateChannelReconciliationPeriodService" />
      <endpoint address="http://localhost:53902/FixedDepositTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IFixedDepositTypeService" name="IFixedDepositTypeService" />
      <endpoint address="http://localhost:53902/WireTransferTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IWireTransferTypeService" name="IWireTransferTypeService" />
      <endpoint address="http://localhost:53902/ElectronicStatementOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IElectronicStatementOrderService" name="IElectronicStatementOrderService" />
      <endpoint address="http://localhost:53902/LocationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.ILocationService" name="ILocationService" />
      <endpoint address="http://localhost:53902/SuperSaverPayableService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.ISuperSaverPayableService" name="ISuperSaverPayableService" />
      <endpoint address="http://localhost:53902/FuneralRiderClaimService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IFuneralRiderClaimService" name="IFuneralRiderClaimService" />
      <endpoint address="http://localhost:53902/EmployeeAppraisalTargetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalTargetService" name="IEmployeeAppraisalTargetService" />
      <endpoint address="http://localhost:53902/TrainingPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ITrainingPeriodService" name="ITrainingPeriodService" />
      <endpoint address="http://localhost:53902/EmployeeAppraisalPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalPeriodService" name="IEmployeeAppraisalPeriodService" />
      <endpoint address="http://localhost:53902/EmployeeAppraisalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalService" name="IEmployeeAppraisalService" />
      <endpoint address="http://localhost:53902/LeaveTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.ILeaveTypeService" name="ILeaveTypeService" />
      <endpoint address="http://localhost:53902/ExitInterviewQuestionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IExitInterviewQuestionService" name="IExitInterviewQuestionService" />
      <endpoint address="http://localhost:53902/ExitInterviewAnswerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IExitInterviewAnswerService" name="IExitInterviewAnswerService" />
      <endpoint address="http://localhost:53902/EmployeeExitService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeExitService" name="IEmployeeExitService" />
      <endpoint address="http://localhost:53902/WorkflowService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AdministrationModule.IWorkflowService" name="IWorkflowService" />
      <endpoint address="http://localhost:53902/AdministrativeDivisionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.RegistryModule.IAdministrativeDivisionService" name="IAdministrativeDivisionService" />
      <endpoint address="http://localhost:53902/CashTransferRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.ICashTransferRequestService" name="ICashTransferRequestService" />
      <endpoint address="http://localhost:53902/CashDepositRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.FrontOfficeModule.ICashDepositRequestService" name="ICashDepositRequestService" />
      <endpoint address="http://localhost:53902/BankToMobileRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IBankToMobileRequestService" name="IBankToMobileRequestService" />
      <endpoint address="http://localhost:53902/BrokerRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="SwiftFinancials.Presentation.Contracts.AccountsModule.IBrokerRequestService" name="IBrokerRequestService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>