<div class="footer">
    <div class="float-right">
        EasyBim Insurance &trade;
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2023 | Powered by Stamline Technologies®.
    </div>
</div>