USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AtmTransactionsLocal]    Script Date: 28/08/2024 18:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Centrino
-- Create date: 08/10/2014
-- Description:	AtmTransactions
-- =============================================
-- sp_AtmTransactions '10/08/2014','10/08/2014'
CREATE PROCEDURE [dbo].[sp_AtmTransactionsLocal] 
	-- Add the parameters for the stored procedure here
	@StartDate datetime , 
	@EndDate datetime,
	@ChartofAccountID varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
    -- Insert statements for procedure here
	SELECT        TOP (100) PERCENT dbo.SwiftFin_Journals.CreatedDate,dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_Journals.SecondaryDescription, dbo.SwiftFin_Journals.Reference, 
                         dbo.vw_CustomerAccounts.FullAccount, dbo.vw_CustomerAccounts.FullName, dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference3, dbo.SwiftFin_Branches.Description AS Branch, 
                         dbo.SwiftFin_Journals.TotalValue,CASE WHEN dbo.SwiftFin_JournalEntries.Amount<0 THEN dbo.SwiftFin_JournalEntries.Amount *-1 ELSE 0 END AS DEBIT,
						 CASE WHEN dbo.SwiftFin_JournalEntries.Amount>0 THEN dbo.SwiftFin_JournalEntries.Amount  ELSE 0 END AS CREDIT
	FROM            dbo.SwiftFin_JournalEntries INNER JOIN
							 dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id INNER JOIN
							 dbo.vw_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.vw_CustomerAccounts.Id INNER JOIN
							 dbo.SwiftFin_Branches ON dbo.SwiftFin_Journals.BranchId = dbo.SwiftFin_Branches.Id
	WHERE        (dbo.SwiftFin_JournalEntries.ContraChartOfAccountId =@ChartofAccountID
                             )
	AND dbo.SwiftFin_Journals.CreatedDate between @StartDate and @EndDate
							   
END






