USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuxilliaryBalance]    Script Date: 28/08/2024 18:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---sp_AuxilliaryBalance '01/01/2016','12/31/2016',1000,0.015
CREATE Procedure [dbo].[sp_AuxilliaryBalance] 
(
	@BegDate as DateTime,
	@EndDate as DateTime,
	@EaringBalance Numeric(18,2),
	@InterestRate Numeric(5,3)
)
as
With CTEMonthlyBalances (CustomerAccount,PayrollNo,Name,BalanceBF,January,February,March,April,May,June,July,August,September,October,November,December,Total,Deleted)
as(
SELECT 
(
--select left(reference1,4)+substring(reference1,6,3)+substring(reference1,10,5) from vw_customeraccounts where id =a.customeraccountid) as CustomerAccount,
  select reference1 from vw_customeraccounts where id =a.customeraccountid) as CustomerAccount,
(
--select left(reference1,4)+substring(reference1,6,3)+substring(reference1,10,5) from vw_customeraccounts where id =a.customeraccountid) as PayrollNo,
 select reference3 from vw_customeraccounts where id =a.customeraccountid) as PayrollNo,
(select FullName from vw_customeraccounts where id =a.customeraccountid) as Name,
isnull((
SELECT     sum(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and history.trdate<@BegDate and history.docid not in ('2206')),0) as BalanceBF,
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and year(history.trdate)=year(@BegDate) and month(history.trdate)=1 and history.docid not in ('2206') ),0)  
   AS 'January',

isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts)  and year(history.trdate)=year(@BegDate) and month(history.trdate)=2 and history.docid not in ('2206')),0)  
   AS 'February',
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and year(history.trdate)=year(@BegDate) and month(history.trdate)=3 and history.docid not in ('2206') ),0)  
   AS 'March',
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and year(history.trdate)=year(@BegDate) and month(history.trdate)=4 and history.docid not in ('2206')),0)  
   AS 'April',
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and year(history.trdate)=year(@BegDate) and month(history.trdate)=5 and history.docid not in ('2206')),0)  
   AS 'May',
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts) and year(history.trdate)=year(@BegDate) and  month(history.trdate)=6 and history.docid not in ('2206')),0)  
   AS 'June',
isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts)  and year(history.trdate)=year(@BegDate) and month(history.trdate)=7 and history.docid not in ('2206')),0)  
   AS 'July',

   isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts)  and year(history.trdate)=year(@BegDate) and month(history.trdate)=8 and history.docid not in ('2206')),0)  
   AS 'August',

      isnull((select 
  SUM(isnull(debit,0)-isnull(credit,0))
FROM         fosa.dbo.history INNER JOIN
                      dbo.vw_CustomerAccounts ON fosa.dbo.history.fosa_acno COLLATE Latin1_General_CI_AS = dbo.vw_CustomerAccounts.Reference1 where  dbo.vw_CustomerAccounts.Id=a.CustomerAccountId and 
					  dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts)  and year(history.trdate)=year(@BegDate) and month(history.trdate)=8 and history.docid not in ('2206')),0)  
   AS 'September',

   
--  SUM(CASE datepart(month,CreatedDate) WHEN 2 THEN Amount ELSE 0 END) AS 'February',
 -- SUM(CASE datepart(month,CreatedDate) WHEN 3 THEN Amount ELSE 0 END) AS 'March',
--  SUM(CASE datepart(month,CreatedDate) WHEN 4 THEN Amount ELSE 0 END) AS 'April',
 -- SUM(CASE datepart(month,CreatedDate) WHEN 5 THEN Amount ELSE 0 END) AS 'May',
 -- SUM(CASE datepart(month,CreatedDate) WHEN 6 THEN Amount ELSE 0 END) AS 'June',
 -- SUM(CASE datepart(month,CreatedDate) WHEN 7 THEN Amount ELSE 0 END) AS 'July',
  --SUM(CASE datepart(month,CreatedDate) WHEN 8 THEN Amount ELSE 0 END) AS 'August',
  --SUM(CASE datepart(month,CreatedDate) WHEN 9 THEN Amount ELSE 0 END) AS 'September',
  SUM(CASE datepart(month,CreatedDate) WHEN 10 THEN Amount ELSE 0 END) AS 'October',
  SUM(CASE datepart(month,CreatedDate) WHEN 11 THEN Amount ELSE 0 END) AS 'November',
  SUM(CASE datepart(month,CreatedDate) WHEN 12 THEN Amount ELSE 0 END) AS 'December',
  SUM(CASE datepart(year,CreatedDate) WHEN year(@BegDate) THEN Amount ELSE 0 END) AS 'TOTAL',
  isnull((select 'Delete' from vw_customeraccounts where id =a.customeraccountid and left(reference1,8)='1200-000' and dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId in (select id from SwiftFin_SavingsProducts where code=1)),'')
FROM
    SwiftFin_JournalEntries a
WHERE
  CreatedDate BETWEEN @BegDate AND @EndDate 
  and ChartOfAccountId in (select ChartOfAccountId from SwiftFin_SavingsProducts) 
  group by CustomerAccountId
  )
  select CustomerAccount,Name,BalanceBF,
  January+BalanceBF as January,
  January+February+BalanceBF as February,
  January+February+March +BalanceBF as March,
  January+February+March +April+BalanceBF as April,
  January+February+March +April+May+BalanceBF as May,
  January+February+March +April+May+June+BalanceBF as June,
  January+February+March +April+May+June+July +BalanceBF as July,
  January+February+March +April+May+June+July +August+BalanceBF as August,
  January+February+March +April+May+June+July+August+September+BalanceBF as September,
  --August as August,
  --August+September as September,
  August+September+October as October,
  August+September+October+November as November,
  August+September+October+November+December as December,
  Total  as YearTotal,
 case when @EaringBalance<January+BalanceBF then January+BalanceBF-@EaringBalance  else 0 end as JanEarningBalance,
 case when @EaringBalance<January+February+BalanceBF then January+February+BalanceBF-@EaringBalance  else 0 end as FebEarningBalance,
 case when @EaringBalance<January+February+March +BalanceBF then January+February+March +BalanceBF-@EaringBalance  else 0 end as MarEarningBalance,
 case when @EaringBalance<January+February+March +April+BalanceBF then January+February+March +April+BalanceBF-@EaringBalance  else 0 end as ApriEarningBalance,
 case when @EaringBalance<January+February+March +April+May+BalanceBF then January+February+March +April+May+BalanceBF-@EaringBalance  else 0 end as MayEarningBalance,
 case when @EaringBalance<January+February+March +April+May+June+BalanceBF then January+February+March +April+May+June+BalanceBF-@EaringBalance  else 0 end as JunEarningBalance,
 case when @EaringBalance<January+February+March +April+May+June+July +BalanceBF then January+February+March +April+May+June+July +BalanceBF-@EaringBalance  else 0 end as JulEarningBalance,
 case when @EaringBalance<January+February+March +April+May+June+July +August+BalanceBF then January+February+March +April+May+June+July +BalanceBF-@EaringBalance  else 0 end as AugEarningBalance,
 case when @EaringBalance<January+February+March +April+May+June+July +August+September+BalanceBF then January+February+March +April+May+June+July +BalanceBF-@EaringBalance  else 0 end as SepEarningBalance,
 --case when @EaringBalance<August then August-@EaringBalance  else 0 end as AugEarningBalance,
 --case when @EaringBalance<August+September then August+September-@EaringBalance  else 0 end as SepEarningBalance,
 --case when @EaringBalance< August+September+October then  August+September+October-@EaringBalance  else 0 end as OctEarningBalance,
 case when @EaringBalance< October then October-@EaringBalance  else 0 end as OctEarningBalance,
 case when @EaringBalance< October+November then October+November-@EaringBalance  else 0 end as NovEarningBalance,
 case when @EaringBalance< October+November+December then October+November+December-@EaringBalance  else 0 end as DecEarningBalance,Deleted,PayrollNo
 into #CTEMonthlyEarning from CTEMonthlyBalances order by CustomerAccount
 select *,
 JanEarningBalance+FebEarningBalance+MarEarningBalance+ApriEarningBalance+MayEarningBalance+JunEarningBalance+JunEarningBalance+
 JulEarningBalance+AugEarningBalance+SepEarningBalance+OctEarningBalance+NovEarningBalance+DecEarningBalance as TotalEarningBalance,
 (JanEarningBalance+FebEarningBalance+MarEarningBalance+ApriEarningBalance+MayEarningBalance+JunEarningBalance+ JulEarningBalance+
 AugEarningBalance+SepEarningBalance+OctEarningBalance+NovEarningBalance+DecEarningBalance)/12 as AverageEarningBalance,
 ((JanEarningBalance+FebEarningBalance+MarEarningBalance+ApriEarningBalance+MayEarningBalance+JunEarningBalance+ JulEarningBalance
 +AugEarningBalance+SepEarningBalance+OctEarningBalance+NovEarningBalance+DecEarningBalance)/12)*@InterestRate as InterestEarned
  from #CTEMonthlyEarning where deleted not in ('Delete')




