USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AccountsNotCreditWithSalary]    Script Date: 28/08/2024 17:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Joan-Centrino
-- Create date: 16.08.2015
-- Description:	Accounts credited with salary in a particular month
-- =============================================
--[sp_AccountsCreditWithSalary] 'November'

CREATE procedure [dbo].[sp_AccountsNotCreditWithSalary] 
--@EndDate DateTime
@cMonth Varchar(20)
as
--set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
--
SELECT        dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_Journals.SecondaryDescription, dbo.SwiftFin_JournalEntries.CreatedDate, dbo.SwiftFin_Journals.Reference, dbo.vw_CustomerAccounts.FullName, 
                         dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference2, dbo.SwiftFin_JournalEntries.Amount
FROM            dbo.SwiftFin_JournalEntries INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id INNER JOIN
                         dbo.vw_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.vw_CustomerAccounts.Id
WHERE      dbo.SwiftFin_Journals.TransactionCode =32
and SecondaryDescription = 'Payout-'+ltrim(rtrim(@cMonth)) and dbo.SwiftFin_JournalEntries.ChartOfAccountId in (select ChartOfAccountId from SwiftFin_SavingsProducts) and  dbo.SwiftFin_JournalEntries.Amount>0

order by Reference









