USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AccountHolderPerCategory]    Script Date: 28/08/2024 17:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 ---exec [sp_AccountHolderPerCategory1] '1934EF3D-C0B4-C148-F0D6-08D30617F260','02/17/2016'
CREATE procedure [dbo].[sp_AccountHolderPerCategory]
 
 @ProductID varchar(100), 
 @EndDate DateTime 
 as
 begin
 set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
 
 With AccountHolderPerCategory(AccountNo,AccountName,idno,Narration,Balance)
	AS
	(	
 select dbo.SwiftFin_Customers.Reference1,(dbo.SwiftFin_Customers.Individual_FirstName+''+dbo.SwiftFin_Customers.Individual_LastName) as name,
  dbo.SwiftFin_Customers.Individual_IdentityCardNumber,dbo.SwiftFin_Enumerations.Description, SUM(dbo.SwiftFin_JournalEntries.Amount) AS BALANCE

FROM            dbo.SwiftFin_Customers INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_Customers.Id = dbo.SwiftFin_CustomerAccounts.CustomerId INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId INNER JOIN
                         dbo.SwiftFin_Enumerations ON dbo.SwiftFin_Customers.Type = dbo.SwiftFin_Enumerations.Value INNER JOIN
                         dbo.SwiftFin_SavingsProducts ON dbo.SwiftFin_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_SavingsProducts.Id AND 
                         dbo.SwiftFin_JournalEntries.ChartOfAccountId = dbo.SwiftFin_SavingsProducts.ChartOfAccountId
WHERE        (dbo.SwiftFin_Enumerations.[Key] = 'CustomerType')  and @productid=SwiftFin_Enumerations.id and dbo.SwiftFin_JournalEntries.CreatedDate<=@EndDate
GROUP BY dbo.SwiftFin_Customers.Reference1, dbo.SwiftFin_Enumerations.Description,dbo.SwiftFin_CustomerAccounts.CustomerAccountType_TargetProductId,
dbo.SwiftFin_Customers.Individual_FirstName,dbo.SwiftFin_Customers.Individual_IdentityCardNumber,dbo.SwiftFin_Customers.Individual_LastName)


select AccountNo,AccountName,idno,Narration,Balance
from AccountHolderPerCategory
order by Narration,AccountNo
end





