USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuditTrailLog]    Script Date: 28/08/2024 18:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_AuditTrailLog 'A5738399-7063-C972-136C-08D3868C2D0B', '01/01/2015','07/01/2017'
CREATE procedure [dbo].[sp_AuditTrailLog] (@CustomerID uniqueidentifier, @StartDate DateTime , @EndDate DateTime)
as
with CTEAudit (CustomerID,Date,UserName,Action,Amount,MachineName)
as
(
/*Transaction Table*/

SELECT        dbo.SwiftFin_CustomerAccounts.CustomerId, dbo.SwiftFin_Journals.CreatedDate, dbo.SwiftFin_Journals.EnvironmentUserName, dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_JournalEntries.Amount,dbo.SwiftFin_Journals.EnvironmentMachineName
FROM            dbo.SwiftFin_JournalEntries INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
						where SwiftFin_CustomerAccounts.CustomerId=@CustomerID and  dbo.SwiftFin_Journals.CreatedDate between @StartDate and @EndDate and dbo.SwiftFin_JournalEntries.Amount>0
union
/*Customer Createddate */

	select id,CreatedDate,CreatedBy,'Account Creation',0,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_customers.id)
	 from SwiftFin_Customers where id=@CustomerID and CreatedDate between @StartDate and @EndDate

	union
/*Customer Status*/

	select id,ModifiedDate,ModifiedBy,'Account Modified',0,
		(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_customers.id)
	 from SwiftFin_Customers where id=@CustomerID and ModifiedDate between @StartDate and @EndDate

	union
/*Account Remarks*/

	SELECT        dbo.SwiftFin_CustomerAccounts.CustomerId, dbo.SwiftFin_CustomerAccountHistories.CreatedDate,  dbo.SwiftFin_CustomerAccountHistories.CreatedBy, 
							 dbo.SwiftFin_Enumerations.Description +'-'+dbo.SwiftFin_CustomerAccountHistories.Remarks,0,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_CustomerAccountHistories.id)
	FROM            dbo.SwiftFin_CustomerAccountHistories INNER JOIN
							 dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_CustomerAccountHistories.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id INNER JOIN
							 dbo.SwiftFin_Enumerations ON dbo.SwiftFin_CustomerAccountHistories.ManagementAction = dbo.SwiftFin_Enumerations.Value
	WHERE        (dbo.SwiftFin_Enumerations.[Key] LIKE 'CustomerAccountManagementAction') and CustomerId=@CustomerID and dbo.SwiftFin_CustomerAccountHistories.CreatedDate between  @StartDate and @EndDate
	union
/*Payouts*/

	select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_CreditBatchEntries.CreatedDate,dbo.SwiftFin_CreditBatchEntries.CreatedBy,'Created Payout:-'+dbo.SwiftFin_CreditBatches.Reference,dbo.SwiftFin_CreditBatchEntries.Principal,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_CreditBatchEntries.id)	
	 FROM            dbo.SwiftFin_CreditBatchEntries INNER JOIN
							 dbo.SwiftFin_CreditBatches ON dbo.SwiftFin_CreditBatchEntries.CreditBatchId = dbo.SwiftFin_CreditBatches.Id INNER JOIN
							 dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_CreditBatchEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
	where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_CreditBatchEntries.CreatedDate between @StartDate and @EndDate
	union
	select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_CreditBatches.AuditedDate,dbo.SwiftFin_CreditBatches.AuditedBy,'Audited Payout:-'+dbo.SwiftFin_CreditBatches.Reference,dbo.SwiftFin_CreditBatchEntries.Principal,
		(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_CreditBatchEntries.id)	
	 FROM            dbo.SwiftFin_CreditBatchEntries INNER JOIN
							 dbo.SwiftFin_CreditBatches ON dbo.SwiftFin_CreditBatchEntries.CreditBatchId = dbo.SwiftFin_CreditBatches.Id INNER JOIN
							 dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_CreditBatchEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
	where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_CreditBatches.AuditedDate between @StartDate and @EndDate
	union
	select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_CreditBatches.AuthorizedDate,dbo.SwiftFin_CreditBatches.AuthorizedBy,'Authorized Payout:-'+dbo.SwiftFin_CreditBatches.Reference,dbo.SwiftFin_CreditBatchEntries.Principal,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_CreditBatchEntries.id)	
	 FROM            dbo.SwiftFin_CreditBatchEntries INNER JOIN
							 dbo.SwiftFin_CreditBatches ON dbo.SwiftFin_CreditBatchEntries.CreditBatchId = dbo.SwiftFin_CreditBatches.Id INNER JOIN
							 dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_CreditBatchEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
	where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_CreditBatches.AuthorizedDate between @StartDate and @EndDate
union
/*Overdeductions*/
select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_OverDeductionBatches.CreatedDate,dbo.SwiftFin_OverDeductionBatches.CreatedBy,'Created OverDeduction '+SwiftFin_OverDeductionBatches.Reference,dbo.SwiftFin_OverDeductionBatchEntries.Principal+SwiftFin_OverDeductionBatchEntries.Interest,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_OverDeductionBatches.id)	
FROM            dbo.SwiftFin_OverDeductionBatchEntries INNER JOIN
                         dbo.SwiftFin_OverDeductionBatches ON dbo.SwiftFin_OverDeductionBatchEntries.OverDeductionBatchId = dbo.SwiftFin_OverDeductionBatches.Id INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_OverDeductionBatchEntries.DebitCustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_OverDeductionBatches.CreatedDate between @StartDate and @EndDate
union
select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_OverDeductionBatches.AuditedDate,dbo.SwiftFin_OverDeductionBatches.AuditedBy,'Verified OverDeduction '+SwiftFin_OverDeductionBatches.Reference,dbo.SwiftFin_OverDeductionBatchEntries.Principal+SwiftFin_OverDeductionBatchEntries.Interest,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_OverDeductionBatches.id)	
FROM            dbo.SwiftFin_OverDeductionBatchEntries INNER JOIN
                         dbo.SwiftFin_OverDeductionBatches ON dbo.SwiftFin_OverDeductionBatchEntries.OverDeductionBatchId = dbo.SwiftFin_OverDeductionBatches.Id INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_OverDeductionBatchEntries.DebitCustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_OverDeductionBatches.AuditedDate between @StartDate and @EndDate
union
select dbo.SwiftFin_CustomerAccounts.CustomerId,dbo.SwiftFin_OverDeductionBatches.AuthorizedDate,dbo.SwiftFin_OverDeductionBatches.AuthorizedBy,'Authorized OverDeduction '+SwiftFin_OverDeductionBatches.Reference,dbo.SwiftFin_OverDeductionBatchEntries.Principal+SwiftFin_OverDeductionBatchEntries.Interest,
	(select top 1 EnvironmentMachineName from SwiftFin_AuditLogsArchive where RecordID=SwiftFin_OverDeductionBatches.id)	
FROM            dbo.SwiftFin_OverDeductionBatchEntries INNER JOIN
                         dbo.SwiftFin_OverDeductionBatches ON dbo.SwiftFin_OverDeductionBatchEntries.OverDeductionBatchId = dbo.SwiftFin_OverDeductionBatches.Id INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_OverDeductionBatchEntries.DebitCustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id
where dbo.SwiftFin_CustomerAccounts.CustomerId=@CustomerID and dbo.SwiftFin_OverDeductionBatches.AuthorizedDate between @StartDate and @EndDate


)
select * from CTEAudit




