USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AttachGuarantor]    Script Date: 28/08/2024 18:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jeff Inyundere
-- Create date: 30-07-2016
-- Description:	Extract attached Guarantor by PF Number
-- =============================================
---sp_AttachGuarantor '0000'
--[sp_AttachGuarantor] '08/08/2016','08/08/2018'
CREATE  PROCEDURE [dbo].[sp_AttachGuarantor] 
	-- Add the parameters for the stored procedure here
	--@PayrollNo Varchar(20)
	@Startdate datetime,
	@EndDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
		set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));

	SET NOCOUNT ON;

   SELECT        dbo.vw_CustomerAccounts.FullName, dbo.vw_CustomerAccounts.Reference1 AS LoaneeAccount, dbo.vw_CustomerAccounts.Reference2 AS LoaneeMno, 
                         dbo.vw_CustomerAccounts.Reference3 AS LoaneePayrollNo, dbo.vw_CustomerAccounts.Address_MobileLine, vw_CustomerAccounts_1.Reference1 AS GuarantoAccountNo, 
                         vw_CustomerAccounts_1.Reference2 AS GuarantorMno, vw_CustomerAccounts_1.Description, vw_CustomerAccounts_1.Reference3 AS GuarantorPayrollNo, SwiftFin_JournalEntries_1.Amount*-1 as Amount, vw_CustomerAccounts_1.FullName AS Name,SwiftFin_JournalEntries_1.CreatedDate
	FROM            dbo.SwiftFin_JournalEntries INNER JOIN
                         dbo.vw_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.vw_CustomerAccounts.Id INNER JOIN
                         dbo.SwiftFin_JournalEntries AS SwiftFin_JournalEntries_1 ON dbo.SwiftFin_JournalEntries.JournalId = SwiftFin_JournalEntries_1.JournalId INNER JOIN
                         dbo.vw_CustomerAccounts AS vw_CustomerAccounts_1 ON SwiftFin_JournalEntries_1.CustomerAccountId = vw_CustomerAccounts_1.Id
	WHERE   SwiftFin_journalentries_1.CreatedDate between @Startdate and @EndDate and (dbo.SwiftFin_JournalEntries.JournalId IN
                             (SELECT        Id
                               FROM            dbo.SwiftFin_Journals
                               WHERE        (TransactionCode = 48))) AND (dbo.SwiftFin_JournalEntries.Amount > 0) and SwiftFin_JournalEntries_1.Amount<0 order by  dbo.vw_CustomerAccounts.Reference3, vw_CustomerAccounts_1.Description
END


