USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AlertsStatus]    Script Date: 28/08/2024 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Sp_AlertsStatus '05/01/2016','08/30/2016'
CREATE PROCEDURE [dbo].[Sp_AlertsStatus]
 -- Add the parameters for the stored procedure here
 @StartDate DateTime, 
 @EndDate DateTime
AS
set @EndDate= (select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
SELECT       case dbo.SwiftFin_TextAlerts.TextMessage_DLRStatus when 4 then 'Pending' when 16 then 'Not Applicable' when 2 then 'Failed' when 8 then 'Delivered' when 1 then 'Uknowkn' end as AlertStatus, 
count(dbo.SwiftFin_TextAlerts.TextMessage_Recipient) as  TextAlerts,
case when dbo.SwiftFin_TextAlerts.TextMessage_DLRStatus=8 or dbo.SwiftFin_TextAlerts.TextMessage_DLRStatus=2 then count(dbo.SwiftFin_TextAlerts.TextMessage_Recipient)*10 else 0 end as Income
FROM            dbo.SwiftFin_TextAlerts INNER JOIN
                         dbo.vw_Customers ON dbo.SwiftFin_TextAlerts.TextMessage_Recipient = dbo.vw_Customers.Address_MobileLine
       where dbo.SwiftFin_TextAlerts.CreatedDate between @StartDate and @EndDate 
	   group by dbo.SwiftFin_TextAlerts.TextMessage_DLRStatus

END

--select * from SwiftFin_enumerations where [key] like '%DLRStatus%'



