USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_Assets]    Script Date: 28/08/2024 18:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[sp_Assets] '12/04/2018'
--select * from SwiftFin_Assets
-- =============================================
-- Author:		CustomerCare Desk
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_Assets] 
--@EndDate datetime
AS
BEGIN
--set @EndDate= (select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
	
SELECT        dbo.SwiftFin_Assets.SerialNumber, dbo.SwiftFin_Assets.Manufacturer, dbo.SwiftFin_Assets.Model, dbo.SwiftFin_Assets.TagNumber, dbo.SwiftFin_Assets.PurchasePrice, dbo.SwiftFin_Assets.ResidualValue, dbo.SwiftFin_Departments.Description AS Department, 
                         dbo.SwiftFin_Locations.Description AS Location, dbo.SwiftFin_Suppliers.Description AS Supplier, dbo.SwiftFin_ItemRegister.Description AS ItemName, dbo.SwiftFin_AssetTypes.Description AS AssetType, dbo.SwiftFin_Assets.Remarks,
						       dbo.SwiftFin_Assets.CreatedDate, dbo.SwiftFin_Assets.CreatedBy, Case dbo.SwiftFin_Assets.Status when 0 Then 'Un-Alloted' when 2 Then 'Alloted' When 4 Then 'Returned' when 6 Then 'Disposed' else '' End As AssetRegisterStatus
FROM            dbo.SwiftFin_Assets INNER JOIN
                         dbo.SwiftFin_Departments ON dbo.SwiftFin_Assets.DepartmentId = dbo.SwiftFin_Departments.Id INNER JOIN
                         dbo.SwiftFin_Locations ON dbo.SwiftFin_Assets.LocationId = dbo.SwiftFin_Locations.Id INNER JOIN
                         dbo.SwiftFin_Suppliers ON dbo.SwiftFin_Assets.SupplierId = dbo.SwiftFin_Suppliers.Id INNER JOIN
                         dbo.SwiftFin_ItemRegister ON dbo.SwiftFin_Assets.ItemRegisterId = dbo.SwiftFin_ItemRegister.Id INNER JOIN
                         dbo.SwiftFin_AssetTypes ON dbo.SwiftFin_ItemRegister.AssetTypeId = dbo.SwiftFin_AssetTypes.Id

						-- where dbo.SwiftFin_Assets.CreatedDate=@EndDate 
						 End 
