USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuditLog]    Script Date: 28/08/2024 18:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--	select * from FindAuditLogs('01/01/2018','01/16/2018',0)
--SP_AuditLog '01/01/2018','01/16/2018','254728632428'
CREATE  procedure [dbo].[sp_AuditLog](@StartDate as Date, @EndDate  as Date, @Text Varchar(30)=null,@TableName varchar(100)='SwiftFin_Customers')
as
Declare @Date1 Date,@Date2 Date

set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));

if @Text is null
begin
	select * from FindAuditLogs(@StartDate,@EndDate,0) 
	union
	select * from FindAuditLogs(@StartDate,@EndDate,1) 
end
else
begin
	set @Text= ltrim(rtrim(@Text));
	declare @Text1 varchar(100);

	
	with CTEAUDIT (EventType,TableName,AdditionalNarration,CreatedBy,CreatedDate)
	as
	(
		select EventType,TableName,AdditionalNarration,CreatedBy,CreatedDate from FindAuditLogs(@StartDate,@EndDate,0) where TableName=@TableName
			union
		select EventType,TableName,AdditionalNarration,CreatedBy,CreatedDate from FindAuditLogs(@StartDate,@EndDate,1) where TableName=@TableName
	)
	select * into #temp from CTEAUDIT 

	set @Text1= 'select * from #temp  where additionalNarration like '+'''%'+@Text+'%'''
	exec(@Text1)
end



