USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuditTrailExtract]    Script Date: 28/08/2024 18:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---sp_AuditTrailExtract '01/01/2018', '01/20/2018',

CREATE procedure [dbo].[sp_AuditTrailExtract] (@StartDate Date, @EndDate Date, @UserName varchar(10)=null,@Account varchar(20)=null) as
set nocount off;

with CTEAUDIT([Id]
      ,[EventType]
      ,[TableName]
      ,[RecordID]
      ,[AdditionalNarration]
      ,[ApplicationUserName]
      ,[EnvironmentUserName]
      ,[EnvironmentMachineName]
      ,[EnvironmentDomainName]
      ,[EnvironmentOSVersion]
      ,[EnvironmentMACAddress]
      ,[EnvironmentMotherboardSerialNumber]
      ,[EnvironmentProcessorId]
      ,[EnvironmentIPAddress]
      ,[SequentialId]
      ,[CreatedBy]
      ,[CreatedDate])
as
(
select  [Id]
      ,[EventType]
      ,[TableName]
      ,[RecordID]
      ,[AdditionalNarration]
      ,[ApplicationUserName]
      ,[EnvironmentUserName]
      ,[EnvironmentMachineName]
      ,[EnvironmentDomainName]
      ,[EnvironmentOSVersion]
      ,[EnvironmentMACAddress]
      ,[EnvironmentMotherboardSerialNumber]
      ,[EnvironmentProcessorId]
      ,[EnvironmentIPAddress]
      ,[SequentialId]
      ,[CreatedBy]
      ,[CreatedDate]
   from SwiftFin_AuditLogs where CreatedDate>=@StartDate and CreatedDate<=@EndDate  and ApplicationUserName is not null and tablename  in 
 
('SwiftFin_Journals','SwiftFin_StandingOrders','SwiftFin_FiscalCounts','SwiftFin_Employees','SwiftFin_CashWithdrawalRequests','SwiftFin_CustomerAccountHistories','SwiftFin_customers','SwiftFin_LoanGuarantors','SwiftFin_LoanCases')
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="6"%' and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="24"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="27"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="28"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="38"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="37"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="47"%'
union
select  [Id]
      ,[EventType]
      ,[TableName]
      ,[RecordID]
      ,[AdditionalNarration]
      ,[ApplicationUserName]
      ,[EnvironmentUserName]
      ,[EnvironmentMachineName]
      ,[EnvironmentDomainName]
      ,[EnvironmentOSVersion]
      ,[EnvironmentMACAddress]
      ,[EnvironmentMotherboardSerialNumber]
      ,[EnvironmentProcessorId]
      ,[EnvironmentIPAddress]
      ,[SequentialId]
      ,[CreatedBy]
      ,[CreatedDate]
   from SwiftFin_AuditLogsArchive where CreatedDate>=@StartDate and CreatedDate<=@EndDate  and ApplicationUserName is not null and tablename  in  
('SwiftFin_Journals','SwiftFin_StandingOrders','SwiftFin_FiscalCounts','SwiftFin_Employees','SwiftFin_CashWithdrawalRequests','SwiftFin_CustomerAccountHistories','SwiftFin_customers','SwiftFin_LoanGuarantors','SwiftFin_LoanCases')
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="6"%' and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="24"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="27"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="28"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="38"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="37"%'
and AdditionalNarration not like '%AuditInfo ColumnName="TransactionCode" OriginalValue="" NewValue="47"%'
)select * into #temp from CTEAUDIT
----select * from #temp
CREATE INDEX IX_ID   
    ON #temp (ID)
--select * from SwiftFin_Employees
--select top 100 *  from SwiftFin_AuditLogs where  TableName in ('SwiftFin_Journals','SwiftFin_StandingOrders') and applicationusername is not null
--select top 100 * into #temp from SwiftFin_AuditLogs where  applicationusername is not null and tablename not in ('SwiftFin_Journals','SwiftFin_StandingOrders','SwiftFin_CustomerMessageHistories','SwiftFin_JournalEntries','SwiftFin_AlternateChannelLogs','SwiftFin_TextAlerts')
--select * from #temp
---select top 100 *  from SwiftFin_AuditLogs where tablename not in ('SwiftFin_Journals','SwiftFin_StandingOrders','SwiftFin_CustomerMessageHistories','SwiftFin_JournalEntries','SwiftFin_AlternateChannelLogs','SwiftFin_TextAlerts')
--drop table #temp
--select * from SwiftFin_CustomerMessageHistories where tablename not in ('SwiftFin_Journals','SwiftFin_StandingOrders','SwiftFin_CustomerMessageHistories')
--drop table #AuditTrail
Create table #AuditTrail (UserName Char(20),Activity Varchar(100),Date DateTime,MachineName varchar(20),MacAddress VarChar(50),IPAddress VarChar(50),
AccountNo varchar(20),Amount Numeric(18,2))
/*NULL
Insert into #AuditTrail(UserName ,Activity ,Date ,MachineName ,MacAddress ,IPAddress)
select @UserName,@Activity ,@Date,@MachineName,@MacAddress,@IPAddress 
select UserName ,Activity ,Date ,MachineName ,MacAddress ,IPAddress from #AuditTrail
*/
declare @RowNum int
Select @RowNum = Count(*) From #temp      --get total number of records
WHILE @RowNum > 0   
--- WHILE EXISTS(SELECT  * FROM #Temp ) --- (SELECT count(tablename) FROM #temp) >0
BEGIN  
	Declare @ID uniqueidentifier,@TableName Varchar(100),@RecordID UniqueIdentifier,@EventType Varchar(20),@ApplicationUserName varchar(20),
	@EnvironmentMachineName varchar(50),@Date DateTime,@EnvironmentMACAddress varchar(50),@EnvironmentIPAddress VarChar(50),@Activity Varchar(100),@Amount Numeric(18,2),@AccountNo Varchar(20)
	set @ID =(select top 1 id from #temp)
	
	set @TableName=(select TableName from #temp where ID=@ID)
	set @RecordID=(select RecordID from #temp where ID=@ID)
	set @EventType=(select EventType from #temp where ID=@ID)
	set @ApplicationUserName=(select @ApplicationUserName from #temp where ID=@ID)
	set @ApplicationUserName=(select ApplicationUserName from #temp where ID=@ID)
	set @EnvironmentMachineName=(select EnvironmentMachineName from #temp where ID=@ID)
	set @EnvironmentMACAddress=(select EnvironmentMACAddress from #temp where ID=@ID)
	set @EnvironmentIPAddress=(select EnvironmentIPAddress from #temp where ID=@ID)
----	set @Date=(select CreatedDate from #temp where ID=@ID)

	IF ltrim(rtrim(@TableName))='SwiftFin_Journals'
		Begin
		set @Activity=@EventType+' '+(SELECT top 1        SwiftFin_Journals.PrimaryDescription
			FROM          SwiftFin_Journals INNER JOIN
						  SwiftFin_JournalEntries ON SwiftFin_Journals.Id = SwiftFin_JournalEntries.JournalId left JOIN
                          vw_CustomerAccounts ON SwiftFin_JournalEntries.CustomerAccountId = vw_CustomerAccounts.Id 
			WHERE		  SwiftFin_journals.ID=@RecordID and SwiftFin_Journals.ParentId is null and Amount>0 and SwiftFin_journals.TransactionCode not in (select value from SwiftFin_Enumerations where [key] like '%SystemTransactionCode%' and SwiftFin_Journals.TransactionCode in (24,6,28,27,38,37)
))
		set @Amount	=(SELECT     top 1  SwiftFin_Journals.TotalValue
			FROM          SwiftFin_Journals INNER JOIN
						  SwiftFin_JournalEntries ON SwiftFin_Journals.Id = SwiftFin_JournalEntries.JournalId left JOIN
                          vw_CustomerAccounts ON SwiftFin_JournalEntries.CustomerAccountId = vw_CustomerAccounts.Id 
			WHERE		  SwiftFin_journals.ID=@RecordID and SwiftFin_Journals.ParentId is null and Amount>0 and SwiftFin_journals.TransactionCode not in (select value from SwiftFin_Enumerations where [key] like '%SystemTransactionCode%' and SwiftFin_Journals.TransactionCode in  (24,6,28,27,38,37)
))
		set @AccountNo=(SELECT     top 1   vw_CustomerAccounts.Reference1
			FROM          SwiftFin_Journals INNER JOIN
						  SwiftFin_JournalEntries ON SwiftFin_Journals.Id = SwiftFin_JournalEntries.JournalId left JOIN
                          vw_CustomerAccounts ON SwiftFin_JournalEntries.CustomerAccountId = vw_CustomerAccounts.Id 
			WHERE		  SwiftFin_journals.ID=@RecordID and SwiftFin_Journals.ParentId is null and Amount>0 and SwiftFin_journals.TransactionCode not in (select value from SwiftFin_Enumerations where [key] like '%SystemTransactionCode%' and SwiftFin_Journals.TransactionCode in  (24,6,28,27,38,37)
))
		set @Date=(SELECT     top 1   SwiftFin_Journals.CreatedDate
			FROM          SwiftFin_Journals INNER JOIN
						  SwiftFin_JournalEntries ON SwiftFin_Journals.Id = SwiftFin_JournalEntries.JournalId left JOIN
                          vw_CustomerAccounts ON SwiftFin_JournalEntries.CustomerAccountId = vw_CustomerAccounts.Id 
			WHERE		  SwiftFin_journals.ID=@RecordID and SwiftFin_Journals.ParentId is null and Amount>0 and SwiftFin_journals.TransactionCode not in (select value from SwiftFin_Enumerations where [key] like '%SystemTransactionCode%' and SwiftFin_Journals.TransactionCode in   (24,6,28,27,38,37)
))
		end
	IF ltrim(rtrim(@TableName))='SwiftFin_StandingOrders'
		Begin
			set @Activity='Modified '+(select Description from vw_CustomerAccounts where id in( select BeneficiaryCustomerAccountId from SwiftFin_StandingOrders where ID=@RecordID))+' Standing Order'
			set @AccountNo=(select Reference1 from vw_CustomerAccounts where id in( select BeneficiaryCustomerAccountId from SwiftFin_StandingOrders where ID=@RecordID))
			set @Date=(select CreatedDate from #temp where ID=@ID)
			set @Amount=(select Principal from SwiftFin_StandingOrders where ID=@RecordID)
		end
--select * from SwiftFin_FiscalCounts
	IF ltrim(rtrim(@TableName))='SwiftFin_FiscalCounts'
		Begin
			set @Activity=(select PrimaryDescription +' - '+ SecondaryDescription from SwiftFin_FiscalCounts where ID=@RecordID)
			set @AccountNo=(select Reference from SwiftFin_FiscalCounts where ID=@RecordID)
			set @Date=(select CreatedDate from SwiftFin_FiscalCounts where ID=@RecordID)
			set @Amount=(select Denomination_OneThousandValue+Denomination_FiveHundredValue	+Denomination_TwoHundredValue+Denomination_OneHundredValue+
			Denomination_FiftyValue+Denomination_TwentyValue+Denomination_TwentyValue+Denomination_FiveValue+Denomination_OneValue+Denomination_FiftyCentValue from SwiftFin_FiscalCounts where ID=@RecordID)
		end

	IF ltrim(rtrim(@TableName))='SwiftFin_Employees'
		Begin
			set @Activity=@EventType+' Employee Details for '+(SELECT       SwiftFin_Customers.Individual_FirstName+' '+SwiftFin_Customers.Individual_LastName
							FROM            SwiftFin_Customers INNER JOIN
							SwiftFin_Employees ON SwiftFin_Customers.Id = SwiftFin_Employees.CustomerId where SwiftFin_Employees.id=@RecordID)
			set @AccountNo=(SELECT       SwiftFin_Customers.Reference1
							FROM            SwiftFin_Customers INNER JOIN
							SwiftFin_Employees ON SwiftFin_Customers.Id = SwiftFin_Employees.CustomerId where SwiftFin_Employees.id=@RecordID)
			set @Date=(select CreatedDate from #temp where ID=@ID)
			set @Amount=0
		end

	IF ltrim(rtrim(@TableName))='SwiftFin_CashWithdrawalRequests' ----Account Based
		Begin
			set @Activity=@EventType+' Cash Withdrawal Authorization Requests  for '+(SELECT       vw_CustomerAccounts.fullname
							FROM            vw_CustomerAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON vw_CustomerAccounts.Id = SwiftFin_CashWithdrawalRequests.CustomerAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @AccountNo=(SELECT       vw_CustomerAccounts.Reference1
							FROM            vw_CustomerAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON vw_CustomerAccounts.Id = SwiftFin_CashWithdrawalRequests.CustomerAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @Date=(SELECT       SwiftFin_CashWithdrawalRequests.CreatedDate
							FROM            vw_CustomerAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON vw_CustomerAccounts.Id = SwiftFin_CashWithdrawalRequests.CustomerAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @Amount=(SELECT       SwiftFin_CashWithdrawalRequests.Amount
							FROM            vw_CustomerAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON vw_CustomerAccounts.Id = SwiftFin_CashWithdrawalRequests.CustomerAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
		end

	IF ltrim(rtrim(@TableName))='SwiftFin_CashWithdrawalRequests' -- Ledger Based
		Begin
			set @Activity=@EventType+' Cash Withdrawal Authorization Requests  for '+(SELECT       SwiftFin_ChartOfAccounts.AccountName
							FROM            SwiftFin_ChartOfAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON SwiftFin_ChartOfAccounts.Id = SwiftFin_CashWithdrawalRequests.ChartOfAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @AccountNo=(SELECT       SwiftFin_ChartOfAccounts.AccountCode
							FROM            SwiftFin_ChartOfAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON SwiftFin_ChartOfAccounts.Id = SwiftFin_CashWithdrawalRequests.ChartOfAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @Date=(SELECT       SwiftFin_CashWithdrawalRequests.CreatedDate
							FROM            SwiftFin_ChartOfAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON SwiftFin_ChartOfAccounts.Id = SwiftFin_CashWithdrawalRequests.ChartOfAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
			set @Amount=(SELECT       SwiftFin_CashWithdrawalRequests.Amount
							FROM            SwiftFin_ChartOfAccounts INNER JOIN
							SwiftFin_CashWithdrawalRequests ON SwiftFin_ChartOfAccounts.Id = SwiftFin_CashWithdrawalRequests.ChartOfAccountId where SwiftFin_CashWithdrawalRequests.id=@RecordID)
		end


	IF ltrim(rtrim(@TableName))='SwiftFin_CustomerAccountHistories' -- Ledger Based
		Begin
			set @Activity=@EventType+' '+(SELECT      SwiftFin_Enumerations.Description+' - ' +SwiftFin_CustomerAccountHistories.Remarks
										FROM         vw_CustomerAccounts INNER JOIN
                         SwiftFin_CustomerAccountHistories ON vw_CustomerAccounts.Id = SwiftFin_CustomerAccountHistories.CustomerAccountId INNER JOIN
                         SwiftFin_Enumerations ON SwiftFin_CustomerAccountHistories.ManagementAction = SwiftFin_Enumerations.Value
						WHERE        (SwiftFin_Enumerations.[Key] LIKE '%CustomerAccountManagementAction%') and SwiftFin_CustomerAccountHistories.id=@RecordID)
			set @AccountNo=(SELECT     vw_CustomerAccounts.Reference1
										FROM         vw_CustomerAccounts INNER JOIN
                         SwiftFin_CustomerAccountHistories ON vw_CustomerAccounts.Id = SwiftFin_CustomerAccountHistories.CustomerAccountId INNER JOIN
                         SwiftFin_Enumerations ON SwiftFin_CustomerAccountHistories.ManagementAction = SwiftFin_Enumerations.Value
						WHERE        (SwiftFin_Enumerations.[Key] LIKE '%CustomerAccountManagementAction%') and SwiftFin_CustomerAccountHistories.id=@RecordID)
			set @Date=(SELECT     SwiftFin_CustomerAccountHistories.CreatedDate
										FROM         vw_CustomerAccounts INNER JOIN
                         SwiftFin_CustomerAccountHistories ON vw_CustomerAccounts.Id = SwiftFin_CustomerAccountHistories.CustomerAccountId INNER JOIN
                         SwiftFin_Enumerations ON SwiftFin_CustomerAccountHistories.ManagementAction = SwiftFin_Enumerations.Value
						WHERE        (SwiftFin_Enumerations.[Key] LIKE '%CustomerAccountManagementAction%') and SwiftFin_CustomerAccountHistories.id=@RecordID)
			set @Amount=0
		end

	IF ltrim(rtrim(@TableName))='SwiftFin_Customers'
		Begin
			set @Activity=@EventType+' '+(SELECT      SwiftFin_Customers.Individual_FirstName+' '+SwiftFin_Customers.Individual_LastName +' ID#'+SwiftFin_Customers.Individual_IdentityCardNumber+' Phone# '+SwiftFin_Customers.Address_MobileLine
										FROM         SwiftFin_Customers  where id=@RecordID)
			set @AccountNo=(SELECT      SwiftFin_Customers.Reference1
										FROM         SwiftFin_Customers  where id=@RecordID)
			set @Date=(select CreatedDate from #temp where ID=@ID)
			set @Amount=0
		end

	IF ltrim(rtrim(@TableName))='SwiftFin_LoanGuarantors'
		Begin
			set @Activity=@EventType+' For Guarantor- > '+(SELECT     SwiftFin_Customers.Individual_FirstName+' '+SwiftFin_Customers.Individual_LastName+ ' Loan Type:'+   SwiftFin_LoanProducts.Description
										FROM            SwiftFin_LoanGuarantors INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanGuarantors.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanGuarantors.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanGuarantors.id=@RecordID)
			set @AccountNo=(SELECT     SwiftFin_Customers.Reference1
										FROM            SwiftFin_LoanGuarantors INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanGuarantors.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanGuarantors.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanGuarantors.id=@RecordID)
			set @Date=(SELECT     SwiftFin_LoanGuarantors.CreatedDate
										FROM            SwiftFin_LoanGuarantors INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanGuarantors.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanGuarantors.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanGuarantors.id=@RecordID)
			set @Amount=(SELECT     SwiftFin_LoanGuarantors.AmountGuaranteed
										FROM            SwiftFin_LoanGuarantors INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanGuarantors.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanGuarantors.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanGuarantors.id=@RecordID)
		end


	IF ltrim(rtrim(@TableName))='SwiftFin_LoanCases' 
		Begin
			set @Activity=@EventType+' Loaning Process '+(SELECT        SwiftFin_LoanProducts.Description+' For '+SwiftFin_Customers.Individual_FirstName+' '+SwiftFin_Customers.Individual_LastName
			FROM            SwiftFin_LoanCases INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanCases.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanCases.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanCases.id=@RecordID)
			set @AccountNo=(SELECT        SwiftFin_customers.Reference1
			FROM            SwiftFin_LoanCases INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanCases.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanCases.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanCases.id=@RecordID)
			set @Date=(select CreatedDate from #temp where ID=@ID)
			set @Amount=(SELECT        SwiftFin_LoanCases.AmountApplied
			FROM            SwiftFin_LoanCases INNER JOIN
                         SwiftFin_Customers ON SwiftFin_LoanCases.CustomerId = SwiftFin_Customers.Id INNER JOIN
                         SwiftFin_LoanProducts ON SwiftFin_LoanCases.LoanProductId = SwiftFin_LoanProducts.Id  where SwiftFin_LoanCases.id=@RecordID)
		end



if @Activity is not null
		begin
			Insert into #AuditTrail(UserName ,Activity ,Date ,MachineName ,MacAddress ,IPAddress,AccountNo,Amount)
			select @ApplicationUserName,@Activity ,@Date,@EnvironmentMachineName,@EnvironmentMACAddress,@EnvironmentIPAddress,@AccountNo,@Amount
	end
    set @RowNum = @RowNum - 1  
	delete from #temp where id=@ID
END  
drop table #temp

CREATE INDEX IX_AccountNo   
    ON #AuditTrail (AccountNo)

CREATE INDEX IX_UserName   
    ON #AuditTrail (UserName)
--select @TableName,@Activity,@ID
if @Account is not null and @UserName is null
begin
	select * from #AuditTrail where AccountNo=@Account
end
if @UserName is not null and @Account is null
begin
	select * from #AuditTrail where UserName=@UserName	
end
if @UserName is not null and @Account is not null
begin
	select * from #AuditTrail where UserName=@UserName and AccountNo=@Account	
end
if @UserName is  null and @Account is  null
begin
	select * from #AuditTrail 
end

--drop table #AuditTrail


