USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AnnexShareBalancesReport]    Script Date: 28/08/2024 18:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec Sp_AnnexShareBalancesReport '12/31/2016'
--select * from SwiftFin_investmentproducts
CREATE procedure [dbo].[sp_AnnexShareBalancesReport] 

@Enddate as datetime
as



With InvestmentProductBalances(AccountNo,SHARENUMBER,Reference2,MEMBERNUMBER,MEMBERNAME,TYPE,SHAREAMOUNT,Branch,Interest)
AS(
SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('8D5515F8-C27F-CCF4-7117-08D2B78E3546') and dbo.SwiftFin_JournalEntries.CreatedDate<='12/31/2016')
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description

union
SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('68042ED2-F9DD-CEE8-275E-08D2B78E4475') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
union
SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('2D148A3C-F463-CF87-EFA6-08D2B78E52C3') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		union
		SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('0CB0E78F-773C-C794-70B0-08D2B78E6216') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		union
			SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('3CFF67CE-AD4F-C4BB-64C1-08D2B78E74BD') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		union

				SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('89B62B58-7F96-C12C-8DE7-08D2B78E86A5') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
			union

				SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('08DBABDA-0ED3-C6B3-8DF7-08D2B78E9354') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		union

				SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('92AEEDA5-4558-C551-60F8-08D2B916671E') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		union
			SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('7757652F-FA40-CF61-C3C7-08D2BF34EFE7') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description

		union
			SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('D43E05B4-5978-C155-DF81-08D325890F58') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
			union
			SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('9EF80B2A-E69D-C53F-BB80-08D377C9E8CA') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description
		
			union
			SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
		dbo.vw_CustomerAccounts.FullName, dbo.SwiftFin_InvestmentProducts.Description,
		SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,
		(select top 1 Description from SwiftFin_Branches where id=dbo.vw_CustomerAccounts.BranchId) as Branch,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield
		FROM            dbo.vw_CustomerAccounts INNER JOIN
								 dbo.SwiftFin_InvestmentProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_InvestmentProducts.Id INNER JOIN
								 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
								 dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId
		WHERE        (dbo.SwiftFin_InvestmentProducts.id in ('91E87B3E-BBD5-C05A-749D-08D37AF98587') and dbo.SwiftFin_JournalEntries.CreatedDate<=@Enddate)
		GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.BranchId,dbo.SwiftFin_InvestmentProducts.AnnualPercentageYield,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
		dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_InvestmentProducts.Description)
		select AccountNo,SHARENUMBER,Reference2,MEMBERNUMBER,MEMBERNAME,Branch as BranchName, TYPE, SHAREAMOUNT,Interest*SHAREAMOUNT/100 as DepositInterest from InvestmentProductBalances 
		GROUP BY AccountNo,SHARENUMBER,Reference2,MEMBERNUMBER,MEMBERNAME,Branch,Interest, TYPE, SHAREAMOUNT  having (SHAREAMOUNT)<>0 




		--select * from SwiftFin_InvestmentProducts 
