USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AllRecoveriesSummary]    Script Date: 28/08/2024 18:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_AllRecoveriesSummary '05/01/2018','05/24/2018',6
CREATE PROCEDURE [dbo].[sp_AllRecoveriesSummary]
 -- Add the parameters for the stored procedure here
--@TransactionCode Int,
@StartDate DateTime, 
@EndDate DateTime
--@TransactionCode Int
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 set @EndDate= (select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));

    -- Insert statements for procedure here
 With LoanProductBalances(Description,Balance,Interest,code,TranxCode,CostCenter)
 AS
 (
  
  SELECT      dbo.vw_CustomerAccounts.Description,SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount, 0, 'Investments' as Code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
FROM            dbo.SwiftFin_InvestmentProducts INNER JOIN
                         dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_InvestmentProducts.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id INNER JOIN
                         dbo.vw_CustomerAccounts INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id ON dbo.SwiftFin_ChartOfAccounts.Id = dbo.SwiftFin_JournalEntries.ChartOfAccountId AND 
                         dbo.SwiftFin_InvestmentProducts.Id = dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId
						 WHERE       dbo.SwiftFin_Journals.CreatedDate BETWEEN @StartDate and @EndDate --and  dbo.SwiftFin_Journals.TransactionCode=@TransactionCode
GROUP BY dbo.vw_CustomerAccounts.Description,code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  
  union

  SELECT       dbo.vw_CustomerAccounts.Description,0,
  SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount, 'Loans' as Code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  FROM            dbo.vw_CustomerAccounts INNER JOIN
                         dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
                         dbo.SwiftFin_LoanProducts.InterestReceivableChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id inner join
						 dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id
  WHERE       dbo.SwiftFin_Journals.CreatedDate BETWEEN @StartDate and @EndDate --and  dbo.SwiftFin_Journals.TransactionCode=@TransactionCode
  GROUP BY dbo.vw_CustomerAccounts.Description,code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  UNION ALL
  SELECT       dbo.vw_CustomerAccounts.Description,
  SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,0, 'Loans' as Code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  FROM            dbo.vw_CustomerAccounts INNER JOIN
                         dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id inner join
						 dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id
  WHERE       dbo.SwiftFin_Journals.CreatedDate BETWEEN @StartDate and @EndDate --and  dbo.SwiftFin_Journals.TransactionCode=@TransactionCode
  GROUP BY dbo.vw_CustomerAccounts.Description,code,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_ChartOfAccounts.CostCenterId
 )
 SELECT Description,SUM(Balance) AS Balance,sum(Interest) as Interest ,code,CostCenter,
 
case TranxCode when 28 then  'Repayment Through Check-Off' when 6 then 'Repayment Through Payout' when 25 then 'Repayment Through SpotCash'
when 5 then 'Repayment Through Journal Vouchers' when 67 then 'Repayment Through Pesa-Pepe' when 17 then 'Repayment Through Cash'
when 2 then 'Repayment Through Cheque Deposit' when 50 then 'Repayment Through New Loans' when 27 then 'Repayment Through Staff Salaries' end as TranxCode,
 
 SUM(Balance)+sum(Interest) as Total
 FROM LoanProductBalances where TranxCode in(28,6,25,5,67,17,2,50,27)
 Group By Description,code,TranxCode,CostCenter having SUM(Balance) +sum(Interest)<>0

 --select * from SwiftFin_Enumerations where [key] like '%transaction%'
END
