USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AtmTransactionsFrequency]    Script Date: 28/08/2024 18:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
---select * from SwiftFin_ChartOfAccounts where id='36206afb-23d0-cbc4-72d9-08d10cad4b96'
---sp_AtmTransactionsFrequency 2,'06/01/2014', '07/02/2014',0

CREATE PROCEDURE [dbo].[sp_AtmTransactionsFrequency]
	-- Add the parameters for the stored procedure here
	(
		@CardType int,
		@StartDate Datetime,
		@EndDate DateTime,
		@Frequency int
	)
AS
BEGIN
set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT        dbo.SwiftFin_AlternateChannelLogs.AlternateChannelType as DebitCardType, dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_Journals.SecondaryDescription, dbo.SwiftFin_Journals.Reference, 
                         dbo.SwiftFin_Journals.TotalValue, dbo.vw_CustomerAccounts.FullAccount, dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.FullName, 
                         dbo.SwiftFin_JournalEntries.ChartOfAccountId, dbo.SwiftFin_JournalEntries.CreatedDate, dbo.SwiftFin_JournalEntries.Amount, dbo.SwiftFin_ChartOfAccounts.AccountCode, 
                         dbo.SwiftFin_ChartOfAccounts.AccountName
into #Frequency FROM            dbo.SwiftFin_AlternateChannelLogs INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_AlternateChannelLogs.Id = dbo.SwiftFin_Journals.AlternateChannelLogId INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_Journals.Id = dbo.SwiftFin_JournalEntries.JournalId INNER JOIN
                         dbo.vw_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.vw_CustomerAccounts.Id INNER JOIN
                         dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_JournalEntries.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id
WHERE  dbo.SwiftFin_JournalEntries.CreatedDate between @StartDate and @EndDate and SwiftFin_JournalEntries.ChartOfAccountId=

	case @CardType
	WHEN 1 THEN  'D4007A8E-76BD-E811-8355-08D40C76F50B'
	WHEN 2 THEN 'D4007A8E-76BD-E811-8355-08D40C76F50B'
	end
  and amount>200
END

select * from #Frequency where FullAccount in (select FullAccount from #Frequency group by FullAccount having count(FullAccount)>@Frequency) order by reference1,createddate

--select * from SwiftFin_ChartOfAccounts where AccountName like '%atm%'







