USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[Loanee]    Script Date: 28/08/2024 17:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Loanee]
as
begin
SELECT        dbo.SwiftFin_LoanGuarantors.TotalShares, dbo.SwiftFin_LoanGuarantors.CommittedShares, dbo.SwiftFin_LoanGuarantors.AmountGuaranteed, dbo.SwiftFin_LoanGuarantors.CreatedDate, 
                         dbo.SwiftFin_LoanGuarantors.AmountPledged, dbo.SwiftFin_LoanGuarantors.CreatedBy, dbo.SwiftFin_Customers.Individual_FirstName, dbo.SwiftFin_Customers.Individual_LastName, dbo.SwiftFin_LoanProducts.Description, 
                         SUM(dbo.SwiftFin_JournalEntries.Amount) AS Balance, dbo.SwiftFin_LoanGuarantors.CustomerId
FROM            dbo.SwiftFin_LoanGuarantors INNER JOIN
                         dbo.SwiftFin_Customers ON dbo.SwiftFin_LoanGuarantors.LoaneeCustomerId = dbo.SwiftFin_Customers.Id INNER JOIN
                         dbo.SwiftFin_LoanProducts ON dbo.SwiftFin_LoanGuarantors.LoanProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_LoanGuarantors.LoaneeCustomerId = dbo.SwiftFin_CustomerAccounts.CustomerId AND 
                         dbo.SwiftFin_LoanGuarantors.LoanProductId = dbo.SwiftFin_CustomerAccounts.CustomerAccountType_TargetProductId INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
                         dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId LEFT OUTER JOIN
                         dbo.SwiftFin_LoanCases ON dbo.SwiftFin_LoanGuarantors.LoanCaseId = dbo.SwiftFin_LoanCases.Id AND dbo.SwiftFin_LoanProducts.Id = dbo.SwiftFin_LoanCases.LoanProductId
WHERE        (dbo.SwiftFin_LoanGuarantors.CustomerId = '3859F1B2-1B3E-C388-3742-08D24D5414CD')
GROUP BY dbo.SwiftFin_LoanGuarantors.TotalShares, dbo.SwiftFin_LoanGuarantors.CommittedShares, dbo.SwiftFin_LoanGuarantors.AmountGuaranteed, dbo.SwiftFin_LoanGuarantors.CreatedDate, 
                         dbo.SwiftFin_LoanGuarantors.AmountPledged, dbo.SwiftFin_LoanGuarantors.CreatedBy, dbo.SwiftFin_Customers.Individual_FirstName, dbo.SwiftFin_Customers.Individual_LastName, dbo.SwiftFin_LoanProducts.Description, 
                         dbo.SwiftFin_LoanGuarantors.CustomerId
						 end






