
-- [sp_MonthlyEmailAlertsSummaryByTenant] 'E621B1B3-5F28-E911-96AF-ACE2D35F4931', '01/12/2018', '02/03/2019'

CREATE PROCEDURE [dbo].[sp_MonthlyEmailAlertsSummaryByCompany]
(
@CompanyId UNIQUEIDENTIFIER,
@StartDate DATE,
@EndDate DATE
)
AS
BEGIN
;WITH d(d) AS 
(
  SELECT DATEADD(MONTH, n, DATEADD(MONTH, DATEDIFF(MONTH, 0, @StartDate), 0))
  FROM ( SELECT TOP (DATEDIFF(MONTH, @StartDate, @EndDate) + 1) 
    n = ROW_NUMBER() OVER (ORDER BY [object_id]) - 1
    FROM sys.all_objects ORDER BY [object_id] ) AS n
)
SELECT 
  [Month]    = DATENAME(MONTH, d.d), 
  Total = COUNT(o.Id) 
FROM d LEFT OUTER JOIN dbo.swiftfin_EmailAlerts AS o
  ON o.CreatedDate >= d.d
  AND o.MailMessage_DLRStatus in(8)
  AND o.CompanyId=@CompanyId
  AND o.CreatedDate < DATEADD(MONTH, 1, d.d)
GROUP BY d.d
ORDER BY d.d;
END