USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_SumWireTransferBatchEntries]    Script Date: 9/5/2024 2:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:  Centrino
-- Create date: 03.06.2014
-- Description: SumWireTransferBatchEntries
-- =============================================
--select top 1 * from vfin_Customers
---[sp_SumWireTransferBatchEntries] 'D9907B05-7C5B-C5BA-EE8D-08D13F32F7F4'
CREATE PROCEDURE [dbo].[sp_SumWireTransferBatchEntries] 
 -- Add the parameters for the stored procedure here
 @WireTransferBatchid uniqueidentifier 
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 select isnull(sum(isnull(Amount,0)),0) as Amount 
 from SwiftFin_WireTransferBatchEntries  
 where WireTransferBatchid=@WireTransferBatchid
END
