<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="webApiConfiguration" type="SwiftFinancials.Apis.Configuration.WebApiConfigSection, SwiftFinancials.Apis" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="AuthStore" connectionString="Data Source=(local)\SQL2014;Initial Catalog=VanguardFinancialsDB_AuthStore;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <webApiConfiguration>
    <webApiSettings name="" mobileToBankQueuePath=".\private$\vfin.mobiletobank" bankToMobileQueuePath=".\private$\vfin.banktomobile" citiusQueuePath=".\private$\vfin.citius" requireHttps="0" logEnabled="0">
      <add uniqueId="KHS_LIVE" bankToMobileBankId="12" bankToMobileApiUsername="demosacco" bankToMobileApiPassword="3F-Um2s?" citiusApiUsername="test" citiusApiPassword="test@123" internetBankingApiUsername="test" internetBankingApiPassword="test@123" enabled="1" />
    </webApiSettings>
  </webApiConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="MvcSiteMapProvider_SecurityTrimmingEnabled" value="true" />
    <add key="MvcSiteMapProvider_DefaultSiteMapNodeVisibiltyProvider" value="MvcSiteMapProvider.FilteredSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="SwiftFinancials.Apis" />
    <add key="ConfigCode" value="4030" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.centrino.co.ke" port="587" userName="noreply@centrino.co.ke" password="Ch@11enge" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBindingHTTP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20701/CompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.ICompanyService" name="ICompanyService" />
      <endpoint address="http://localhost:20701/BankService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IBankService" name="IBankService" />
      <endpoint address="http://localhost:20701/BranchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IBranchService" name="IBranchService" />
      <endpoint address="http://localhost:20701/ReportService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IReportService" name="IReportService" />
      <endpoint address="http://localhost:20701/ModuleNavigationItemService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IModuleNavigationItemService" name="IModuleNavigationItemService" />
      <endpoint address="http://localhost:20701/AuditLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IAuditLogService" name="IAuditLogService" />
      <endpoint address="http://localhost:20701/FileUploadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IFileUploadService" name="IFileUploadService" />
      <endpoint address="http://localhost:20701/MediaService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IMediaService" name="IMediaService" />
      <endpoint address="http://localhost:20701/UtilityService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IUtilityService" name="IUtilityService" />
      <endpoint address="http://localhost:20701/UserManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IUserManagerService" name="IUserManagerService" />
      <endpoint address="http://localhost:20701/PasswordManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IPasswordManagerService" name="IPasswordManagerService" />
      <endpoint address="http://localhost:20701/RoleManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IRoleManagerService" name="IRoleManagerService" />
      <endpoint address="http://localhost:20701/MembershipManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IMembershipManagerService" name="IMembershipManagerService" />
      <endpoint address="http://localhost:20701/MicroCreditOfficerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditOfficerService" name="IMicroCreditOfficerService" />
      <endpoint address="http://localhost:20701/MicroCreditGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditGroupService" name="IMicroCreditGroupService" />
      <endpoint address="http://localhost:20701/EmailAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.IEmailAlertService" name="IEmailAlertService" />
      <endpoint address="http://localhost:20701/TextAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.ITextAlertService" name="ITextAlertService" />
      <endpoint address="http://localhost:20701/MessageGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.IMessageGroupService" name="IMessageGroupService" />
      <endpoint address="http://localhost:20701/AssetTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IAssetTypeService" name="IAssetTypeService" />
      <endpoint address="http://localhost:20701/SupplierService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.ISupplierService" name="ISupplierService" />
      <endpoint address="http://localhost:20701/AssetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IAssetService" name="IAssetService" />
      <endpoint address="http://localhost:20701/InventoryCategoryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryCategoryService" name="IInventoryCategoryService" />
      <endpoint address="http://localhost:20701/InventoryPackageTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryPackageTypeService" name="IInventoryPackageTypeService" />
      <endpoint address="http://localhost:20701/InventoryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryService" name="IInventoryService" />
      <endpoint address="http://localhost:20701/InventoryUnitOfMeasureService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryUnitOfMeasureService" name="IInventoryUnitOfMeasureService" />
      <endpoint address="http://localhost:20701/ItemRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IItemRegisterService" name="IItemRegisterService" />
      <endpoint address="http://localhost:20701/FiscalCountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IFiscalCountService" name="IFiscalCountService" />
      <endpoint address="http://localhost:20701/InHouseChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IInHouseChequeService" name="IInHouseChequeService" />
      <endpoint address="http://localhost:20701/ExternalChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IExternalChequeService" name="IExternalChequeService" />
      <endpoint address="http://localhost:20701/FixedDepositService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IFixedDepositService" name="IFixedDepositService" />
      <endpoint address="http://localhost:20701/CashWithdrawalRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.ICashWithdrawalRequestService" name="ICashWithdrawalRequestService" />
      <endpoint address="http://localhost:20701/ElectronicJournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IElectronicJournalService" name="IElectronicJournalService" />
      <endpoint address="http://localhost:20701/ExpensePayableService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IExpensePayableService" name="IExpensePayableService" />
      <endpoint address="http://localhost:20701/AccountClosureRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IAccountClosureRequestService" name="IAccountClosureRequestService" />
      <endpoint address="http://localhost:20701/IncomeAdjustmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.IIncomeAdjustmentService" name="IIncomeAdjustmentService" />
      <endpoint address="http://localhost:20701/LoanCaseService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanCaseService" name="ILoanCaseService" />
      <endpoint address="http://localhost:20701/LoaningRemarkService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoaningRemarkService" name="ILoaningRemarkService" />
      <endpoint address="http://localhost:20701/LoanPurposeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanPurposeService" name="ILoanPurposeService" />
      <endpoint address="http://localhost:20701/DataAttachmentPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.IDataAttachmentPeriodService" name="IDataAttachmentPeriodService" />
      <endpoint address="http://localhost:20701/LoanDisbursementBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanDisbursementBatchService" name="ILoanDisbursementBatchService" />
      <endpoint address="http://localhost:20701/LoanRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanRequestService" name="ILoanRequestService" />
      <endpoint address="http://localhost:20701/PaySlipService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IPaySlipService" name="IPaySlipService" />
      <endpoint address="http://localhost:20701/HolidayService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IHolidayService" name="IHolidayService" />
      <endpoint address="http://localhost:20701/DesignationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IDesignationService" name="IDesignationService" />
      <endpoint address="http://localhost:20701/DepartmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IDepartmentService" name="IDepartmentService" />
      <endpoint address="http://localhost:20701/EmployeeDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeDocumentService" name="IEmployeeDocumentService" />
      <endpoint address="http://localhost:20701/SalaryCardService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryCardService" name="ISalaryCardService" />
      <endpoint address="http://localhost:20701/SalaryPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryPeriodService" name="ISalaryPeriodService" />
      <endpoint address="http://localhost:20701/SalaryGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryGroupService" name="ISalaryGroupService" />
      <endpoint address="http://localhost:20701/SalaryHeadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryHeadService" name="ISalaryHeadService" />
      <endpoint address="http://localhost:20701/EmployeeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeService" name="IEmployeeService" />
      <endpoint address="http://localhost:20701/LeaveApplicationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ILeaveApplicationService" name="ILeaveApplicationService" />
      <endpoint address="http://localhost:20701/EmployeeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeTypeService" name="IEmployeeTypeService" />
      <endpoint address="http://localhost:20701/CustomerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICustomerService" name="ICustomerService" />
      <endpoint address="http://localhost:20701/DelegateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IDelegateService" name="IDelegateService" />
      <endpoint address="http://localhost:20701/DirectorService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IDirectorService" name="IDirectorService" />
      <endpoint address="http://localhost:20701/EmployerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEmployerService" name="IEmployerService" />
      <endpoint address="http://localhost:20701/FileRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IFileRegisterService" name="IFileRegisterService" />
      <endpoint address="http://localhost:20701/WithdrawalNotificationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IWithdrawalNotificationService" name="IWithdrawalNotificationService" />
      <endpoint address="http://localhost:20701/ZoneService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IZoneService" name="IZoneService" />
      <endpoint address="http://localhost:20701/CustomerDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICustomerDocumentService" name="ICustomerDocumentService" />
      <endpoint address="http://localhost:20701/CommissionExemptionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICommissionExemptionService" name="ICommissionExemptionService" />
      <endpoint address="http://localhost:20701/EducationVenueService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEducationVenueService" name="IEducationVenueService" />
      <endpoint address="http://localhost:20701/EducationRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEducationRegisterService" name="IEducationRegisterService" />
      <endpoint address="http://localhost:20701/ConditionalLendingService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IConditionalLendingService" name="IConditionalLendingService" />
      <endpoint address="http://localhost:20701/AlternateChannelLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelLogService" name="IAlternateChannelLogService" />
      <endpoint address="http://localhost:20701/AlternateChannelService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelService" name="IAlternateChannelService" />
      <endpoint address="http://localhost:20701/ChartOfAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChartOfAccountService" name="IChartOfAccountService" />
      <endpoint address="http://localhost:20701/CustomerAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICustomerAccountService" name="ICustomerAccountService" />
      <endpoint address="http://localhost:20701/JournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalService" name="IJournalService" />
      <endpoint address="http://localhost:20701/JournalEntryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalEntryService" name="IJournalEntryService" />
      <endpoint address="http://localhost:20701/PostingPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IPostingPeriodService" name="IPostingPeriodService" />
      <endpoint address="http://localhost:20701/CommissionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICommissionService" name="ICommissionService" />
      <endpoint address="http://localhost:20701/LevyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ILevyService" name="ILevyService" />
      <endpoint address="http://localhost:20701/LoanProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ILoanProductService" name="ILoanProductService" />
      <endpoint address="http://localhost:20701/SavingsProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ISavingsProductService" name="ISavingsProductService" />
      <endpoint address="http://localhost:20701/InvestmentProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInvestmentProductService" name="IInvestmentProductService" />
      <endpoint address="http://localhost:20701/DynamicChargeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDynamicChargeService" name="IDynamicChargeService" />
      <endpoint address="http://localhost:20701/CostCenterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICostCenterService" name="ICostCenterService" />
      <endpoint address="http://localhost:20701/TellerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ITellerService" name="ITellerService" />
      <endpoint address="http://localhost:20701/BankLinkageService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBankLinkageService" name="IBankLinkageService" />
      <endpoint address="http://localhost:20701/BudgetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBudgetService" name="IBudgetService" />
      <endpoint address="http://localhost:20701/JournalVoucherService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalVoucherService" name="IJournalVoucherService" />
      <endpoint address="http://localhost:20701/TreasuryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ITreasuryService" name="ITreasuryService" />
      <endpoint address="http://localhost:20701/InsuranceCompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInsuranceCompanyService" name="IInsuranceCompanyService" />
      <endpoint address="http://localhost:20701/UnPayReasonService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IUnPayReasonService" name="IUnPayReasonService" />
      <endpoint address="http://localhost:20701/ChequeBookService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChequeBookService" name="IChequeBookService" />
      <endpoint address="http://localhost:20701/ReportTemplateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IReportTemplateService" name="IReportTemplateService" />
      <endpoint address="http://localhost:20701/StandingOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IStandingOrderService" name="IStandingOrderService" />
      <endpoint address="http://localhost:20701/ChequeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChequeTypeService" name="IChequeTypeService" />
      <endpoint address="http://localhost:20701/OverDeductionBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IOverDeductionBatchService" name="IOverDeductionBatchService" />
      <endpoint address="http://localhost:20701/CreditTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICreditTypeService" name="ICreditTypeService" />
      <endpoint address="http://localhost:20701/DebitTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDebitTypeService" name="IDebitTypeService" />
      <endpoint address="http://localhost:20701/DirectDebitService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDirectDebitService" name="IDirectDebitService" />
      <endpoint address="http://localhost:20701/DebitBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDebitBatchService" name="IDebitBatchService" />
      <endpoint address="http://localhost:20701/CreditBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICreditBatchService" name="ICreditBatchService" />
      <endpoint address="http://localhost:20701/WireTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IWireTransferBatchService" name="IWireTransferBatchService" />
      <endpoint address="http://localhost:20701/RecurringBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IRecurringBatchService" name="IRecurringBatchService" />
      <endpoint address="http://localhost:20701/BankReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBankReconciliationPeriodService" name="IBankReconciliationPeriodService" />
      <endpoint address="http://localhost:20701/JournalReversalBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalReversalBatchService" name="IJournalReversalBatchService" />
      <endpoint address="http://localhost:20701/InterAccountTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInterAccountTransferBatchService" name="IInterAccountTransferBatchService" />
      <endpoint address="http://localhost:20701/MobileToBankRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IMobileToBankRequestService" name="IMobileToBankRequestService" />
      <endpoint address="http://localhost:20701/GeneralLedgerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IGeneralLedgerService" name="IGeneralLedgerService" />
      <endpoint address="http://localhost:20701/AlternateChannelReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelReconciliationPeriodService" name="IAlternateChannelReconciliationPeriodService" />
      <endpoint address="http://localhost:20701/FixedDepositTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IFixedDepositTypeService" name="IFixedDepositTypeService" />
      <endpoint address="http://localhost:20701/WireTransferTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IWireTransferTypeService" name="IWireTransferTypeService" />
      <endpoint address="http://localhost:20701/ElectronicStatementOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IElectronicStatementOrderService" name="IElectronicStatementOrderService" />
      <endpoint address="http://localhost:20701/RequisitionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IRequisitionService" name="IRequisitionService" />
      <endpoint address="http://localhost:20701/PurchaseOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IPurchaseOrderService" name="IPurchaseOrderService" />
      <endpoint address="http://localhost:20701/QuotationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IQuotationService" name="IQuotationService" />
      <endpoint address="http://localhost:20701/GoodsReceivedNoteService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IGoodsReceivedNoteService" name="IGoodsReceivedNoteService" />
      <endpoint address="http://localhost:20701/GoodsDispatchNoteService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IGoodsDispatchNoteService" name="IGoodsDispatchNoteService" />
      <endpoint address="http://localhost:20701/InvoiceService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInvoiceService" name="IInvoiceService" />
      <endpoint address="http://localhost:20701/LocationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.ILocationService" name="ILocationService" />
    </client>
  </system.serviceModel>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" queuePath=".\private$\vfin.instrumentation" formatter="Binary Log Message Formatter" recoverable="true" useAuthentication="false" useDeadLetterQueue="true" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Binary Log Message Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <throttlePolicy limitPerSecond="100000" limitPerMinute="100000" limitPerHour="100000" limitPerDay="100000" limitPerWeek="100000" ipThrottling="true" clientThrottling="true" endpointThrottling="true">
    <!--(policyType values are 1 - IP, 2 - ClientKey, 3 - Endpoint)-->
    <rules>
      <!--Ip rules-->
      <add policyType="1" entry="::1/10" limitPerSecond="2" limitPerMinute="15" />
      <add policyType="1" entry="192.168.2.1" limitPerMinute="12" />
      <!--Client rules-->
      <add policyType="2" entry="api-client-key-1" limitPerHour="60" />
      <!--Endpoint rules-->
      <add policyType="3" entry="api/wallet" limitPerDay="120" />
    </rules>
    <whitelists>
      <!--Ip whitelist-->
      <add policyType="1" entry="127.0.0.1" />
      <add policyType="1" entry="192.168.0.0/24" />
      <!--Client whitelist-->
      <add policyType="2" entry="api-admin-key" />
    </whitelists>
  </throttlePolicy>
  <elmah>
    <errorMail from="info@centrino.co.ke" to="support@centrino.co.ke" subject="VFIB Exception - IGS_LIVE" async="true" smtpPort="0" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
</configuration>