<div class="footer">
    <div class="float-right">
        Inventory Master &trade;
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2020 | Powered by Stamline Technologies®.
    </div>
</div>