@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "External Login";
}

<h2 class="font-bold">External login failure</h2>

<p>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</p>