@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Lockout";
}

<h2 class="font-bold">Login failure</h2>

<p>
    <h3 class="text-danger">This user has been locked out</h3>
</p>