<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dashboardAppConfiguration" type="SwiftFinancials.Web.Configuration.DashboardAppConfigSection, SwiftFinancials.Web" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="/crystalreportviewers13" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="SwiftFinancials.Web" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <connectionStrings>
    <clear />
    <add name="AuthStore" connectionString="Data Source=(local);Initial Catalog=EasyBim_AuthStore;Persist Security Info=True;User ID=sa;Password=pass123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dashboardAppConfiguration>
    <dashboardAppSettings templatesPath="D:\works\EasyBim.Insurance\DistributedServices.MainBoundedContext\App_Data\AccountAlertTemplates" name="" requireHttps="0" retryCount="5" initialRetryDelay="2" smtpUsername="strongbridge@stamlinetechnologies.com" logEnabled="0">
      <add uniqueId="EASYBIM_DEV" enabled="1" />
    </dashboardAppSettings>
  </dashboardAppConfiguration>
  <appSettings>
    <add key="SessionTimeout" value="30" />
    <add key="AppTimeout" value="300000" />
    <add key="MessagingSummaryMonthCap" value="6" />
    <add key="PasswordExpiryPeriod" value="180" />
    <add key="AllowOnlyAlphanumericUserNames" value="false" />
    <add key="RequireUniqueEmail" value="true" />
    <add key="RequiredPasswordLength" value="4" />
    <add key="PasswordRequireNonLetterOrDigit" value="true" />
    <add key="PasswordRequireDigit" value="true" />
    <add key="PasswordRequireLowercase" value="true" />
    <add key="PasswordRequireUppercase" value="true" />
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="5" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\easybim_logs\easybim-dashboard-log-{Date}.log" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" defaultRedirect="~/Home/UnhandledError" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBindingHTTP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40939/AuditTrailService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.IAuditTrailService" name="IAuditTrailService" />
      <endpoint address="http://localhost:40939/CompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AdministrationModule.ICompanyService" name="ICompanyService" />
      <endpoint address="http://localhost:40939/CustomerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.CustomerModule.ICustomerService" name="ICustomerService" />
      <endpoint address="http://localhost:40939/UtilityService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.IUtilityService" name="IUtilityService" />
      <endpoint address="http://localhost:40939/FileUploadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.IFileUploadService" name="IFileUploadService" />
      <endpoint address="http://localhost:40939/MediaService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.IMediaService" name="IMediaService" />
      <endpoint address="http://localhost:40939/EmailAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.MessagingModule.IEmailAlertService" name="IEmailAlertService" />
      <endpoint address="http://localhost:40939/TextAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.MessagingModule.ITextAlertService" name="ITextAlertService" />
      <endpoint address="http://localhost:40939/NavigationItemInRoleService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AdministrationModule.INavigationItemInRoleService" name="INavigationItemInRoleService" />
      <endpoint address="http://localhost:40939/NavigationItemService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AdministrationModule.INavigationItemService" name="INavigationItemService" />
      <endpoint address="http://localhost:40939/MembershipService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AdministrationModule.IMembershipService" name="IMembershipService" />
      <endpoint address="http://localhost:40939/EmployerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.CustomerModule.IEmployerService" name="IEmployerService" />
      <endpoint address="http://localhost:40939/ChartOfAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AccountsModule.IChartOfAccountService" name="IChartOfAccountService" />
      <endpoint address="http://localhost:40939/PolicyTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.UnderwritingModule.IPolicyTypeService" name="IPolicyTypeService" />
      <endpoint address="http://localhost:40939/PolicyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.UnderwritingModule.IPolicyService" name="IPolicyService" />
      <endpoint address="http://localhost:40939/InsurerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.InsurerModule.IInsurerService" name="IInsurerService" />
      <endpoint address="http://localhost:40939/ClaimTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.UnderwritingModule.IClaimTypeService" name="IClaimTypeService" />
      <endpoint address="http://localhost:40939/ReportService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.ReportsModule.IReportService" name="IReportService" />
      <endpoint address="http://localhost:40939/CommissionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AccountsModule.ICommissionService" name="ICommissionService" />
      <endpoint address="http://localhost:40939/JournalEntryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AccountsModule.IJournalEntryService" name="IJournalEntryService" />
      <endpoint address="http://localhost:40939/JournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AccountsModule.IJournalService" name="IJournalService" />
      <endpoint address="http://localhost:40939/LevyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.AccountsModule.ILevyService" name="ILevyService" />
      <endpoint address="http://localhost:40939/ClaimService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="EasyBim.Presentation.Contracts.UnderwritingModule.IClaimService" name="IClaimService" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>