<?xml version="1.0" encoding="utf-8"?>
<!--
  Więcej informacji dotyczących konfigurowania aplikacji platformy ASP.NET można znaleźć na stronie
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dashboardAppConfiguration" type="SwiftFinancials.Web.Configuration.DashboardAppConfigSection, SwiftFinancials.Web" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="AuthStore" connectionString="Data Source=(local);Initial Catalog=SwiftFinancialsDB_AuthStore;Persist Security Info=True;User ID=sa;Password=pass123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dashboardAppConfiguration>
    <dashboardAppSettings templatesPath="D:\works\SwiftFinancials\SwiftFinancialsSolution\DistributedServices.MainBoundedContext\App_Data" name="" requireHttps="0" retryCount="5" initialRetryDelay="2" smtpUsername="strongbridge@stamlinetechnologies.com" logEnabled="0">
      <add uniqueId="Swift_DEV" enabled="1" />
    </dashboardAppSettings>
  </dashboardAppConfiguration>
  <appSettings>
    <add key="SessionTimeout" value="30" />
    <add key="AppTimeout" value="300000" />
    <add key="MessagingSummaryMonthCap" value="6" />
    <add key="PasswordExpiryPeriod" value="180" />
    <add key="AllowOnlyAlphanumericUserNames" value="false" />
    <add key="RequireUniqueEmail" value="true" />
    <add key="RequiredPasswordLength" value="4" />
    <add key="PasswordRequireNonLetterOrDigit" value="true" />
    <add key="PasswordRequireDigit" value="true" />
    <add key="PasswordRequireLowercase" value="true" />
    <add key="PasswordRequireUppercase" value="true" />
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="5" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\inventory_logs\inventory-dashboard-log-{Date}.log" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.PeriodicBatching" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBindingHTTP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:20701/CompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.ICompanyService" name="ICompanyService" />
      <endpoint address="http://localhost:20701/BankService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IBankService" name="IBankService" />
      <endpoint address="http://localhost:20701/BranchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IBranchService" name="IBranchService" />
      <endpoint address="http://localhost:20701/ReportService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IReportService" name="IReportService" />
      <endpoint address="http://localhost:20701/ModuleNavigationItemService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IModuleNavigationItemService" name="IModuleNavigationItemService" />
      <endpoint address="http://localhost:20701/AuditLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IAuditLogService" name="IAuditLogService" />
      <endpoint address="http://localhost:20701/FileUploadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IFileUploadService" name="IFileUploadService" />
      <endpoint address="http://localhost:20701/MediaService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IMediaService" name="IMediaService" />
      <endpoint address="http://localhost:20701/UtilityService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.IUtilityService" name="IUtilityService" />
      <endpoint address="http://localhost:20701/UserManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IUserManagerService" name="IUserManagerService" />
      <endpoint address="http://localhost:20701/PasswordManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IPasswordManagerService" name="IPasswordManagerService" />
      <endpoint address="http://localhost:20701/RoleManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IRoleManagerService" name="IRoleManagerService" />
      <endpoint address="http://localhost:20701/MembershipManagerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MembershipModule.IMembershipManagerService" name="IMembershipManagerService" />
      <endpoint address="http://localhost:20701/MicroCreditOfficerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditOfficerService" name="IMicroCreditOfficerService" />
      <endpoint address="http://localhost:20701/MicroCreditGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MicroCreditModule.IMicroCreditGroupService" name="IMicroCreditGroupService" />
      <endpoint address="http://localhost:20701/EmailAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.IEmailAlertService" name="IEmailAlertService" />
      <endpoint address="http://localhost:20701/TextAlertService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.ITextAlertService" name="ITextAlertService" />
      <endpoint address="http://localhost:20701/MessageGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.MessagingModule.IMessageGroupService" name="IMessageGroupService" />
      <endpoint address="http://localhost:20701/AssetTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IAssetTypeService" name="IAssetTypeService" />
      <endpoint address="http://localhost:20701/SupplierService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.ISupplierService" name="ISupplierService" />
      <endpoint address="http://localhost:20701/AssetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IAssetService" name="IAssetService" />
      <endpoint address="http://localhost:20701/InventoryCategoryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryCategoryService" name="IInventoryCategoryService" />
      <endpoint address="http://localhost:20701/InventoryPackageTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryPackageTypeService" name="IInventoryPackageTypeService" />
      <endpoint address="http://localhost:20701/InventoryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryService" name="IInventoryService" />
      <endpoint address="http://localhost:20701/InventoryUnitOfMeasureService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInventoryUnitOfMeasureService" name="IInventoryUnitOfMeasureService" />
      <endpoint address="http://localhost:20701/ItemRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IItemRegisterService" name="IItemRegisterService" />
      <endpoint address="http://localhost:20701/FiscalCountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IFiscalCountService" name="IFiscalCountService" />
      <endpoint address="http://localhost:20701/InHouseChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IInHouseChequeService" name="IInHouseChequeService" />
      <endpoint address="http://localhost:20701/ExternalChequeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IExternalChequeService" name="IExternalChequeService" />
      <endpoint address="http://localhost:20701/FixedDepositService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IFixedDepositService" name="IFixedDepositService" />
      <endpoint address="http://localhost:20701/CashWithdrawalRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.ICashWithdrawalRequestService" name="ICashWithdrawalRequestService" />
      <endpoint address="http://localhost:20701/ElectronicJournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IElectronicJournalService" name="IElectronicJournalService" />
      <endpoint address="http://localhost:20701/ExpensePayableService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IExpensePayableService" name="IExpensePayableService" />
      <endpoint address="http://localhost:20701/AccountClosureRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.IAccountClosureRequestService" name="IAccountClosureRequestService" />
      <endpoint address="http://localhost:20701/IncomeAdjustmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.IIncomeAdjustmentService" name="IIncomeAdjustmentService" />
      <endpoint address="http://localhost:20701/LoanCaseService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanCaseService" name="ILoanCaseService" />
      <endpoint address="http://localhost:20701/LoaningRemarkService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoaningRemarkService" name="ILoaningRemarkService" />
      <endpoint address="http://localhost:20701/LoanPurposeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanPurposeService" name="ILoanPurposeService" />
      <endpoint address="http://localhost:20701/DataAttachmentPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.IDataAttachmentPeriodService" name="IDataAttachmentPeriodService" />
      <endpoint address="http://localhost:20701/LoanDisbursementBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanDisbursementBatchService" name="ILoanDisbursementBatchService" />
      <endpoint address="http://localhost:20701/LoanRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.BackOfficeModule.ILoanRequestService" name="ILoanRequestService" />
      <endpoint address="http://localhost:20701/PaySlipService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IPaySlipService" name="IPaySlipService" />
      <endpoint address="http://localhost:20701/HolidayService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IHolidayService" name="IHolidayService" />
      <endpoint address="http://localhost:20701/DesignationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IDesignationService" name="IDesignationService" />
      <endpoint address="http://localhost:20701/DepartmentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IDepartmentService" name="IDepartmentService" />
      <endpoint address="http://localhost:20701/EmployeeDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeDocumentService" name="IEmployeeDocumentService" />
      <endpoint address="http://localhost:20701/SalaryCardService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryCardService" name="ISalaryCardService" />
      <endpoint address="http://localhost:20701/SalaryPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryPeriodService" name="ISalaryPeriodService" />
      <endpoint address="http://localhost:20701/SalaryGroupService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryGroupService" name="ISalaryGroupService" />
      <endpoint address="http://localhost:20701/SalaryHeadService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ISalaryHeadService" name="ISalaryHeadService" />
      <endpoint address="http://localhost:20701/EmployeeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeService" name="IEmployeeService" />
      <endpoint address="http://localhost:20701/LeaveApplicationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ILeaveApplicationService" name="ILeaveApplicationService" />
      <endpoint address="http://localhost:20701/EmployeeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeTypeService" name="IEmployeeTypeService" />
      <endpoint address="http://localhost:20701/CustomerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICustomerService" name="ICustomerService" />
      <endpoint address="http://localhost:20701/DelegateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IDelegateService" name="IDelegateService" />
      <endpoint address="http://localhost:20701/DirectorService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IDirectorService" name="IDirectorService" />
      <endpoint address="http://localhost:20701/EmployerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEmployerService" name="IEmployerService" />
      <endpoint address="http://localhost:20701/FileRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IFileRegisterService" name="IFileRegisterService" />
      <endpoint address="http://localhost:20701/WithdrawalNotificationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IWithdrawalNotificationService" name="IWithdrawalNotificationService" />
      <endpoint address="http://localhost:20701/ZoneService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IZoneService" name="IZoneService" />
      <endpoint address="http://localhost:20701/CustomerDocumentService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICustomerDocumentService" name="ICustomerDocumentService" />
      <endpoint address="http://localhost:20701/CommissionExemptionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.ICommissionExemptionService" name="ICommissionExemptionService" />
      <endpoint address="http://localhost:20701/EducationVenueService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEducationVenueService" name="IEducationVenueService" />
      <endpoint address="http://localhost:20701/EducationRegisterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IEducationRegisterService" name="IEducationRegisterService" />
      <endpoint address="http://localhost:20701/ConditionalLendingService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IConditionalLendingService" name="IConditionalLendingService" />
      <endpoint address="http://localhost:20701/AlternateChannelLogService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelLogService" name="IAlternateChannelLogService" />
      <endpoint address="http://localhost:20701/AlternateChannelService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelService" name="IAlternateChannelService" />
      <endpoint address="http://localhost:20701/ChartOfAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChartOfAccountService" name="IChartOfAccountService" />
      <endpoint address="http://localhost:20701/CustomerAccountService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICustomerAccountService" name="ICustomerAccountService" />
      <endpoint address="http://localhost:20701/JournalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalService" name="IJournalService" />
      <endpoint address="http://localhost:20701/JournalEntryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalEntryService" name="IJournalEntryService" />
      <endpoint address="http://localhost:20701/PostingPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IPostingPeriodService" name="IPostingPeriodService" />
      <endpoint address="http://localhost:20701/CommissionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICommissionService" name="ICommissionService" />
      <endpoint address="http://localhost:20701/LevyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ILevyService" name="ILevyService" />
      <endpoint address="http://localhost:20701/LoanProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ILoanProductService" name="ILoanProductService" />
      <endpoint address="http://localhost:20701/SavingsProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ISavingsProductService" name="ISavingsProductService" />
      <endpoint address="http://localhost:20701/InvestmentProductService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInvestmentProductService" name="IInvestmentProductService" />
      <endpoint address="http://localhost:20701/DynamicChargeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDynamicChargeService" name="IDynamicChargeService" />
      <endpoint address="http://localhost:20701/CostCenterService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICostCenterService" name="ICostCenterService" />
      <endpoint address="http://localhost:20701/TellerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ITellerService" name="ITellerService" />
      <endpoint address="http://localhost:20701/BankLinkageService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBankLinkageService" name="IBankLinkageService" />
      <endpoint address="http://localhost:20701/BudgetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBudgetService" name="IBudgetService" />
      <endpoint address="http://localhost:20701/JournalVoucherService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalVoucherService" name="IJournalVoucherService" />
      <endpoint address="http://localhost:20701/TreasuryService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ITreasuryService" name="ITreasuryService" />
      <endpoint address="http://localhost:20701/InsuranceCompanyService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInsuranceCompanyService" name="IInsuranceCompanyService" />
      <endpoint address="http://localhost:20701/UnPayReasonService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IUnPayReasonService" name="IUnPayReasonService" />
      <endpoint address="http://localhost:20701/ChequeBookService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChequeBookService" name="IChequeBookService" />
      <endpoint address="http://localhost:20701/ReportTemplateService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IReportTemplateService" name="IReportTemplateService" />
      <endpoint address="http://localhost:20701/StandingOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IStandingOrderService" name="IStandingOrderService" />
      <endpoint address="http://localhost:20701/ChequeTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IChequeTypeService" name="IChequeTypeService" />
      <endpoint address="http://localhost:20701/OverDeductionBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IOverDeductionBatchService" name="IOverDeductionBatchService" />
      <endpoint address="http://localhost:20701/CreditTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICreditTypeService" name="ICreditTypeService" />
      <endpoint address="http://localhost:20701/DebitTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDebitTypeService" name="IDebitTypeService" />
      <endpoint address="http://localhost:20701/DirectDebitService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDirectDebitService" name="IDirectDebitService" />
      <endpoint address="http://localhost:20701/DebitBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IDebitBatchService" name="IDebitBatchService" />
      <endpoint address="http://localhost:20701/CreditBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.ICreditBatchService" name="ICreditBatchService" />
      <endpoint address="http://localhost:20701/WireTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IWireTransferBatchService" name="IWireTransferBatchService" />
      <endpoint address="http://localhost:20701/RecurringBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IRecurringBatchService" name="IRecurringBatchService" />
      <endpoint address="http://localhost:20701/BankReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBankReconciliationPeriodService" name="IBankReconciliationPeriodService" />
      <endpoint address="http://localhost:20701/JournalReversalBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IJournalReversalBatchService" name="IJournalReversalBatchService" />
      <endpoint address="http://localhost:20701/InterAccountTransferBatchService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IInterAccountTransferBatchService" name="IInterAccountTransferBatchService" />
      <endpoint address="http://localhost:20701/MobileToBankRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IMobileToBankRequestService" name="IMobileToBankRequestService" />
      <endpoint address="http://localhost:20701/GeneralLedgerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IGeneralLedgerService" name="IGeneralLedgerService" />
      <endpoint address="http://localhost:20701/AlternateChannelReconciliationPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IAlternateChannelReconciliationPeriodService" name="IAlternateChannelReconciliationPeriodService" />
      <endpoint address="http://localhost:20701/FixedDepositTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IFixedDepositTypeService" name="IFixedDepositTypeService" />
      <endpoint address="http://localhost:20701/WireTransferTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IWireTransferTypeService" name="IWireTransferTypeService" />
      <endpoint address="http://localhost:20701/ElectronicStatementOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IElectronicStatementOrderService" name="IElectronicStatementOrderService" />
      <endpoint address="http://localhost:20701/RequisitionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IRequisitionService" name="IRequisitionService" />
      <endpoint address="http://localhost:20701/PurchaseOrderService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IPurchaseOrderService" name="IPurchaseOrderService" />
      <endpoint address="http://localhost:20701/QuotationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IQuotationService" name="IQuotationService" />
      <endpoint address="http://localhost:20701/GoodsReceivedNoteService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IGoodsReceivedNoteService" name="IGoodsReceivedNoteService" />
      <endpoint address="http://localhost:20701/GoodsDispatchNoteService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IGoodsDispatchNoteService" name="IGoodsDispatchNoteService" />
      <endpoint address="http://localhost:20701/InvoiceService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.ControlModule.IInvoiceService" name="IInvoiceService" />
      <endpoint address="http://localhost:20701/LocationService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.ILocationService" name="ILocationService" />
      <endpoint address="http://localhost:20701/SuperSaverPayableService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.ISuperSaverPayableService" name="ISuperSaverPayableService" />
      <endpoint address="http://localhost:20701/FuneralRiderClaimService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IFuneralRiderClaimService" name="IFuneralRiderClaimService" />
      <endpoint address="http://localhost:20701/EmployeeAppraisalTargetService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalTargetService" name="IEmployeeAppraisalTargetService" />
      <endpoint address="http://localhost:20701/TrainingPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ITrainingPeriodService" name="ITrainingPeriodService" />
      <endpoint address="http://localhost:20701/EmployeeAppraisalPeriodService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalPeriodService" name="IEmployeeAppraisalPeriodService" />
      <endpoint address="http://localhost:20701/EmployeeAppraisalService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeAppraisalService" name="IEmployeeAppraisalService" />
      <endpoint address="http://localhost:20701/LeaveTypeService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.ILeaveTypeService" name="ILeaveTypeService" />
      <endpoint address="http://localhost:20701/ExitInterviewQuestionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IExitInterviewQuestionService" name="IExitInterviewQuestionService" />
      <endpoint address="http://localhost:20701/ExitInterviewAnswerService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IExitInterviewAnswerService" name="IExitInterviewAnswerService" />
      <endpoint address="http://localhost:20701/EmployeeExitService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.HumanResourcesModule.IEmployeeExitService" name="IEmployeeExitService" />
      <endpoint address="http://localhost:20701/WorkflowService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AdministrationModule.IWorkflowService" name="IWorkflowService" />
      <endpoint address="http://localhost:20701/AdministrativeDivisionService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.RegistryModule.IAdministrativeDivisionService" name="IAdministrativeDivisionService" />
      <endpoint address="http://localhost:20701/CashTransferRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.ICashTransferRequestService" name="ICashTransferRequestService" />
      <endpoint address="http://localhost:20701/CashDepositRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.FrontOfficeModule.ICashDepositRequestService" name="ICashDepositRequestService" />
      <endpoint address="http://localhost:20701/BankToMobileRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBankToMobileRequestService" name="IBankToMobileRequestService" />
      <endpoint address="http://localhost:20701/BrokerRequestService.svc" binding="customBinding" bindingConfiguration="customBindingHTTP" contract="VanguardFinancials.Presentation.Contracts.AccountsModule.IBrokerRequestService" name="IBrokerRequestService" />
      <endpoint address="http://10.1.1.5:9004/IPRSServerWCF" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceIPRS" contract="IServiceIPRS" name="BasicHttpBinding_IServiceIPRS" behaviorConfiguration="EndpointBehavior_IServiceIPRS" />
    </client>
  </system.serviceModel>
</configuration>