<div class="footer">
    <div class="float-right">
        Swift Financials &trade;
    </div>
    <p class="font-weight-bold text-primary">
        Copyright &copy; <span id="year"></span> |  Powered by Swizzsoft Systems Limited®.
    </p>
</div>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>