<div class="footer">
    <div class="float-right">
        Swift Financials &trade;
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2024 | Powered by Swizzsoft Systems Limited®.
    </div>
</div>