@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="middle-box text-center animated fadeInDown">
    @if (Model != null)
    {
        <h2>@Model.Exception.HResult</h2>

        <h3 class="font-bold">An error has occured.</h3>

        <div class="error-desc">
            @Model.Exception.Message  in @Model.ControllerName . <br />
            You can go back to main page: <br /><a href="@Url.Action("Index","Home", new { Area = ""})" class="btn btn-outline-info m-t">Dashboard</a>
        </div>
    }
</div>