USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AllRecoveries]    Script Date: 28/08/2024 18:30:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_AllRecoveries '08/30/2017','09/25/2017'
CREATE PROCEDURE [dbo].[sp_AllRecoveries]
 -- Add the parameters for the stored procedure here
--@TransactionCode Int,
@StartDate DateTime, 
@EndDate DateTime 
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;
 set @EndDate= (select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));

    -- Insert statements for procedure here
 With LoanProductBalances(AccountNo,Reference1,Reference2,Reference3,AccountName,Description, PayrollNumber, Code,Balance,Interest,Tranxcode,Branch,costcenter)
 AS
 (
  SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
   dbo.vw_CustomerAccounts.FullName,dbo.vw_CustomerAccounts.Description, dbo.vw_customeraccounts.Individual_PayrollNumbers,  dbo.SwiftFin_Journals.TransactionCode, 0,
  SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_Journals.BranchId,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  FROM            dbo.vw_CustomerAccounts INNER JOIN
                         dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND 
                         dbo.SwiftFin_LoanProducts.InterestReceivableChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id inner join
						 dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id
  WHERE       dbo.SwiftFin_Journals.CreatedDate BETWEEN @StartDate and @EndDate --and  dbo.SwiftFin_Journals.TransactionCode=@TransactionCode
  GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, dbo.vw_CustomerAccounts.FullName,
  dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_Journals.TransactionCode,dbo.vw_CustomerAccounts.Description,dbo.vw_customeraccounts.Individual_PayrollNumbers,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_Journals.BranchId,
  dbo.SwiftFin_ChartOfAccounts.CostCenterId
  UNION ALL
  SELECT        dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2,dbo.vw_CustomerAccounts.Reference3, 
  dbo.vw_CustomerAccounts.FullName,dbo.vw_CustomerAccounts.Description,dbo.vw_customeraccounts.Individual_PayrollNumbers,dbo.SwiftFin_Journals.TransactionCode, 
  SUM(dbo.SwiftFin_JournalEntries.Amount) AS Amount,0,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_Journals.BranchId,dbo.SwiftFin_ChartOfAccounts.CostCenterId
  FROM            dbo.vw_CustomerAccounts INNER JOIN
                         dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id inner join
						 dbo.SwiftFin_ChartOfAccounts ON dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_ChartOfAccounts.Id
  WHERE       dbo.SwiftFin_Journals.CreatedDate BETWEEN @StartDate and @EndDate --and  dbo.SwiftFin_Journals.TransactionCode=@TransactionCode
  GROUP BY dbo.vw_CustomerAccounts.Reference1,dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Reference3,  dbo.vw_CustomerAccounts.FullName,
  dbo.vw_CustomerAccounts.FullAccount,dbo.SwiftFin_Journals.TransactionCode,dbo.vw_CustomerAccounts.Description,dbo.vw_customeraccounts.Individual_PayrollNumbers,dbo.SwiftFin_Journals.TransactionCode,dbo.SwiftFin_Journals.BranchId
  ,dbo.SwiftFin_ChartOfAccounts.CostCenterId
 )
 SELECT AccountNo,rtrim(rtrim(Reference1)) as Reference1,ltrim(rtrim(Reference2)) as Reference2,ltrim(rtrim(Reference3)) as Reference3 ,
 AccountName,Description,PayrollNumber, Code,SUM(Balance) AS Balance,sum(Interest) as Interest ,Tranxcode,Branch,costcenter
 FROM LoanProductBalances 
 Group By AccountNo,Reference1,Reference2,Reference3,AccountName,Code,Tranxcode,Branch,costcenter,Description,PayrollNumber having SUM(Balance) +sum(Interest)<>0
END
