USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_Arrears]    Script Date: 28/08/2024 18:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- select id, description from SwiftFin_loanproducts
-- [sp_Arrears] '173DD0D3-EABB-E811-A815-000C29142092'

CREATE PROCEDURE [dbo].[sp_Arrears]
--@EndDate DateTime
@ProductID uniqueidentifier

AS
with ArrearsCTE(FullName,AccountNo,PayrollNo,Product,ProductID,Principal,Interest,IssueDate)
AS
(

SELECT dbo.vw_CustomerAccounts.FullName, dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference3, dbo.vw_CustomerAccounts.Description,dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId,
isnull( CASE dbo.SwiftFin_CustomerAccountArrearages.Category WHEN 0 THEN dbo.SwiftFin_CustomerAccountArrearages.Amount end,0) as Principal,
isnull(CASE dbo.SwiftFin_CustomerAccountArrearages.Category WHEN 1 THEN dbo.SwiftFin_CustomerAccountArrearages.Amount end,0) as Interest,
(select top 1 Duration_StartDate from SwiftFin_Standingorders where beneficiarycustomeraccountid=dbo.SwiftFin_CustomerAccountArrearages.CustomerAccountId order by Duration_StartDate desc)
FROM dbo.vw_CustomerAccounts INNER JOIN
dbo.SwiftFin_CustomerAccountArrearages ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_CustomerAccountArrearages.CustomerAccountId
--where dbo.SwiftFin_CustomerAccountArrearages.Amount<>0
where dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = @ProductID

)
select FullName,AccountNo,PayrollNo,Product,ProductID,IssueDate,sum(Principal) as Principal,sum(Interest) as Interest 
from ArrearsCTE
group by FullName,AccountNo,PayrollNo,Product,IssueDate,ProductID
having sum(Principal)+sum(Interest)<>0