USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AssetMovementHistories]    Script Date: 28/08/2024 18:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		CustomerCare Desk
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[sp_AssetMovementHistories] 
@EndDate datetime
AS
BEGIN
set @EndDate= (select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
	
SELECT        dbo.SwiftFin_Assets.TagNumber, dbo.SwiftFin_ItemRegister.Description As Name, dbo.SwiftFin_AssetMovementHistories.Sender, dbo.SwiftFin_AssetMovementHistories.Recipient, dbo.SwiftFin_AssetMovementHistories.Remarks, 
                         dbo.SwiftFin_AssetMovementHistories.CreatedBy, dbo.SwiftFin_AssetMovementHistories.CreatedDate, dbo.SwiftFin_Departments.Description AS DestinationDepartment, SwiftFin_Departments_1.Description AS SourceDepartment, dbo.SwiftFin_Locations.Description AS SourceLocation, 
                         SwiftFin_Locations_1.Description AS DestinationLocation, Case dbo.SwiftFin_AssetMovementHistories.Type when 1 Then 'Dispatch' when 2 Then 'Transfer' When 3 Then 'Disposal' else '' End As Type
FROM            dbo.SwiftFin_AssetMovementHistories INNER JOIN
                         dbo.SwiftFin_Assets ON dbo.SwiftFin_AssetMovementHistories.AssetId = dbo.SwiftFin_Assets.Id INNER JOIN
                         dbo.SwiftFin_ItemRegister ON dbo.SwiftFin_Assets.ItemRegisterId = dbo.SwiftFin_ItemRegister.Id INNER JOIN
                         dbo.SwiftFin_Departments ON dbo.SwiftFin_AssetMovementHistories.DestinationDepartmentId = dbo.SwiftFin_Departments.Id INNER JOIN
                         dbo.SwiftFin_Departments AS SwiftFin_Departments_1 ON dbo.SwiftFin_AssetMovementHistories.SourceDepartmentId = SwiftFin_Departments_1.Id INNER JOIN
                         dbo.SwiftFin_Locations ON dbo.SwiftFin_AssetMovementHistories.SourceLocationId = dbo.SwiftFin_Locations.Id INNER JOIN
                         dbo.SwiftFin_Locations AS SwiftFin_Locations_1 ON dbo.SwiftFin_AssetMovementHistories.DestinationLocationId = SwiftFin_Locations_1.Id

						 where dbo.SwiftFin_AssetMovementHistories.CreatedDate<=@EndDate 
						 End 
