USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AnnexLoanBalanceReport]    Script Date: 28/08/2024 18:33:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from SwiftFin_standingorders
--exec [Sp_AnnexLoanBalanceReport] '11/30/2018' 

CREATE  Procedure [dbo].[Sp_AnnexLoanBalanceReport](@EndDate DateTime) as
--drop table #tempx
--drop table #temp8

SET NOCOUNT ON;
set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));

WITH CTEList (beneficiary,fullaccount,Reference1,Reference2,Reference3,[Account Name],CustomerAccountID,LoanName,Principal,LoanAmount,PaymentPerPeriod,Balance,Interest,latestamountpaid,latestpaymentdate,LoanTerm,Term2,rate,category,
StartDate,FirstPamentDate,PeriodElapsed,EndDate,CustomerID,LoanProductID)
as
(
	SELECT        distinct( select top 1 BeneficiaryCustomerAccountId from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id ) as BeneficiaryCustomerAccountId,left(dbo.vw_CustomerAccounts.fullaccount,10), dbo.vw_CustomerAccounts.Reference1, 
	dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Individual_PayrollNumbers, dbo.vw_CustomerAccounts.FullName,dbo.vw_CustomerAccounts.Id, 
	dbo.SwiftFin_LoanProducts.Description,
							 --dbo.SwiftFin_StandingOrders.Principal, dbo.SwiftFin_StandingOrders.LoanAmount, dbo.SwiftFin_StandingOrders.PaymentPerPeriod, 

							  (select top 1 principal from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as principal, 
							 (select top 1 LoanAmount from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as loanamount,
							 (select top 1 PaymentPerPeriod from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as PaymentPerPeriod,
							 SUM(dbo.SwiftFin_JournalEntries.Amount)*-1 AS Balance,
							 (select sum(Amount) from SwiftFin_JournalEntries where CustomerAccountId=vw_CustomerAccounts.Id and ChartOfAccountId =SwiftFin_LoanProducts.InterestReceivableChartOfAccountId)*-1 as InterestBalance,0,''
							 , (select top 1 DATEDIFF(mm,Duration_StartDate,Duration_EndDate) from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id  ) as LoanRegistration_TermInMonths,(LoanRegistration_TermInMonths+1) as Term2,dbo.SwiftFin_LoanProducts.LoanInterest_AnnualPercentageRate,dbo.SwiftFin_LoanProducts.LoanRegistration_LoanProductCategory,
							 --Duration_StartDate as StartDate,DATEadd(mm,1,duration_startdate) as FirstPaymentDate,DATEDIFF(mm,duration_startdate,@EndDate) as MonthElapsed,Duration_EndDate,
							 (select top 1 Duration_StartDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as StartDate,
							 (select top 1 DATEadd(mm,1,duration_startdate) from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc) as FirstPaymentDate,
							 --(select top 1 DATEDIFF(mm,duration_startdate,@EndDate) from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc) as MonthElapsed,
							 (select top 1 iif(DATEDIFF(mm,duration_startdate,@EndDate)<=0,1,DATEDIFF(mm,duration_startdate,@EndDate)) from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc) as MonthElapsed,
							 (select top 1 Duration_EndDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as Duration_EndDate,

							dbo.vw_CustomerAccounts.CustomerId,CustomerAccountType_TargetProductId
	FROM            dbo.vw_CustomerAccounts INNER JOIN
							 dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id  INNER JOIN
							 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId 
							 --isnull(dbo.SwiftFin_StandingOrders.islocked,0)=0 and 
							 where  dbo.SwiftFin_JournalEntries.CreatedDate<=@EndDate  --and dbo.SwiftFin_StandingOrders.duration_startdate<=@EndDate 


	GROUP BY dbo.SwiftFin_LoanProducts.ChartOfAccountId,dbo.vw_CustomerAccounts.fullaccount,dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Individual_PayrollNumbers, dbo.vw_CustomerAccounts.AccountName, dbo.vw_CustomerAccounts.Id, 
							 LoanRegistration_TermInMonths,FullName,SwiftFin_LoanProducts.Description,dbo.SwiftFin_LoanProducts.InterestReceivableChartOfAccountId,
							 dbo.SwiftFin_LoanProducts.LoanInterest_AnnualPercentageRate,dbo.SwiftFin_LoanProducts.LoanRegistration_LoanProductCategory, dbo.vw_CustomerAccounts.CustomerId,CustomerAccountType_TargetProductId
						

--WITH CTEList (beneficiary,fullaccount,Reference1,Reference2,Reference3,[Account Name],CustomerAccountID,LoanName,Principal,LoanAmount,PaymentPerPeriod,Balance,Interest,latestamountpaid,latestpaymentdate,LoanTerm,Term2,rate,category,
--StartDate,FirstPamentDate,PeriodElapsed,EndDate,CustomerID,LoanProductID)

	union all
							 SELECT        distinct( select top 1 BeneficiaryCustomerAccountId from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id ) as BeneficiaryCustomerAccountId,dbo.vw_CustomerAccounts.fullaccount,dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Individual_PayrollNumbers, dbo.vw_CustomerAccounts.FullName, 
							 dbo.vw_CustomerAccounts.Id, dbo.SwiftFin_LoanProducts.Description,
							 --dbo.SwiftFin_StandingOrders.Principal, dbo.SwiftFin_StandingOrders.LoanAmount, dbo.SwiftFin_StandingOrders.PaymentPerPeriod, 
							  (select top 1 principal from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as principal, 
							 (select top 1 LoanAmount from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as loanamount,
							 (select top 1 PaymentPerPeriod from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId=vw_CustomerAccounts.id order by Duration_StartDate desc) as PaymentPerPeriod,
							 0,0,
							 (select top 1 isnull(abs(Amount),0) from SwiftFin_JournalEntries where CustomerAccountId=vw_CustomerAccounts.Id and ChartOfAccountId =SwiftFin_LoanProducts.ChartOfAccountId order by CreatedDate) as LatestAmountPaid,
							 (select top 1 CreatedDate from SwiftFin_JournalEntries where CustomerAccountId=vw_CustomerAccounts.Id and ChartOfAccountId =SwiftFin_LoanProducts.ChartOfAccountId order by CreatedDate) as LatestPaymentDate,
							 (select top 1 DATEDIFF(mm,Duration_StartDate,Duration_EndDate) from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id  ) as LoanRegistration_TermInMonths,(LoanRegistration_TermInMonths+1) as Term2,dbo.SwiftFin_LoanProducts.LoanInterest_AnnualPercentageRate,dbo.SwiftFin_LoanProducts.LoanRegistration_LoanProductCategory,
							 --(select top 1 Duration_StartDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as StartDate,
							 
							 (select top 1 Duration_StartDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as StartDate,
							 (select top 1 DATEadd(mm,1,duration_startdate) from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc) as FirstPaymentDate,
							 (select top 1 DATEDIFF(mm,duration_startdate,@EndDate) from dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc) as MonthElapsed,
							 (select top 1 Duration_EndDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as Duration_EndDate,
							 --DATEadd(mm,1,duration_startdate) as FirstPaymentDate,DATEDIFF(mm,duration_startdate,@EndDate) as MonthElapsed,
							 --(select top 1 Duration_EndDate from  dbo.SwiftFin_StandingOrders where BeneficiaryCustomerAccountId= dbo.vw_CustomerAccounts.Id order by  Duration_StartDate desc )as Duration_EndDate,
							 dbo.vw_CustomerAccounts.CustomerId,CustomerAccountType_TargetProductId
	FROM            dbo.vw_CustomerAccounts INNER JOIN
							 dbo.SwiftFin_LoanProducts ON dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId = dbo.SwiftFin_LoanProducts.Id INNER JOIN
							 dbo.SwiftFin_JournalEntries ON dbo.vw_CustomerAccounts.Id = dbo.SwiftFin_JournalEntries.CustomerAccountId AND dbo.SwiftFin_LoanProducts.ChartOfAccountId = dbo.SwiftFin_JournalEntries.ChartOfAccountId 
							 --isnull(dbo.SwiftFin_StandingOrders.islocked,0)=0 and 
							 where  dbo.SwiftFin_JournalEntries.CreatedDate<=@EndDate--- and dbo.SwiftFin_StandingOrders.duration_startdate<=@EndDate 


	
	GROUP BY dbo.SwiftFin_LoanProducts.ChartOfAccountId,dbo.vw_CustomerAccounts.fullaccount,dbo.vw_CustomerAccounts.Reference1, dbo.vw_CustomerAccounts.Reference2, dbo.vw_CustomerAccounts.Individual_PayrollNumbers, dbo.vw_CustomerAccounts.AccountName, dbo.vw_CustomerAccounts.Id, 
							 LoanRegistration_TermInMonths,FullName,SwiftFin_LoanProducts.Description,dbo.SwiftFin_LoanProducts.InterestReceivableChartOfAccountId,
							 dbo.SwiftFin_LoanProducts.LoanInterest_AnnualPercentageRate,dbo.SwiftFin_LoanProducts.LoanRegistration_LoanProductCategory, dbo.vw_CustomerAccounts.CustomerId,CustomerAccountType_TargetProductId


)
--select *,iif((isnull(PaymentPerPeriod,0)*PeriodElapsed)>balance,balance,isnull(PaymentPerPeriod,0)*PeriodElapsed) as BalanceExpected,
select * ,isnull(Principal,0)*PeriodElapsed as BalanceExpected,

case
WHEN category=0  THEN floor((isnull(LoanAmount,0)*rate/1200))  else

floor((isnull(LoanAmount,0)*rate/12*Term2)/200) end as  expectedInterest,
case
WHEN category=0  THEN (floor((isnull(LoanAmount,0)*rate/1200))+LoanAmount)  else
(floor((isnull(LoanAmount,0)*rate/12*term2)/200)+LoanAmount) end as TotalLoanInterest,
case
WHEN category=0   then (floor((isnull(LoanAmount,0)*rate/1200))+LoanAmount)  else

LoanAmount-isnull(Balance,0) end [Balance Paid],
 
 --LoanAmount-isnull(Balance,0) end [Balance Paid],
--(floor((isnull(LoanAmount,0)*rate/12*TERM2)/200)+LoanAmount)-isnull(Balance,0) end [Balance Paid],
iif(startdate<'11/03/2018',
		(select top 1 Loan_officer from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) ,
		(select top 1 Approvedby from SwiftFin_LoanCases where LoanProductID=CTEList.LoanProductID and CustomerID=CTEList.CustomerID and ApprovedDate<=@EndDate  order by ApprovedDate desc )
	)[Loan Officer],
		
isnull(iif(startdate<'11/03/2018',
		(select top 1 loan_guarantors from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) ,
		(select sum(Amountguaranteed) from SwiftFin_LoanGuarantors where LoanProductID=CTEList.LoanProductID and CustomerID=CTEList.CustomerID)
	),0)[Amount Guaranteed],

	iif(startdate<'11/03/2018',
		(select top 1 LoanNo from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) ,
		(select top 1 str(casenumber) from SwiftFin_LoanCases where LoanProductID=CTEList.LoanProductID and CustomerID=CTEList.CustomerID and ApprovedDate<=@EndDate  order by ApprovedDate desc )
	)[Loan No],

	iif(startdate<'11/03/2018',
		(select top 1 amortization_type from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) ,
		(select case when Loaninterest_calculationmode=512 then 'Reducing Balance' when Loaninterest_calculationmode=513 then 'StraighLine' end from SwiftFin_Loanproducts where ID=CTEList.LoanProductID )
	)[Amortization Type],

	iif(startdate<'11/03/2018',
		(select count(loan_guarantors) from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) ,
		(select count(customerid) from SwiftFin_LoanGuarantors where LoanProductID=CTEList.LoanProductID and CustomerID=CTEList.CustomerID )
	)[Guarantors]

				--(select LoanNo from SwiftFin_AsmasLoanData where customerid=CTEList.CustomerID and LoanProductID=CTEList.LoanProductID) [Loan No]

into #temp8 from CTEList

--from CTEList
select *,
case
when #temp8.PeriodElapsed<=1 then 0
else
iif(round(BalanceExpected-[balance paid],0)<0,0,round(BalanceExpected-[balance paid],0)) end as DefaultedAmount,

 case when #temp8.PeriodElapsed<=1 then 0
 when #temp8.StartDate>@EndDate then 0

 when #temp8.[Balance Paid]<=0 then 0
 else
iif(round((BalanceExpected-[balance paid])/nullif(paymentperperiod,0),0)<0,0,round((BalanceExpected-[balance paid])/nullif(paymentperperiod,0),0)) end as DefaulFrequency


 into #tempx from #temp8 where Balance>0 

 

select *,  
----reference1,reference2,reference3,[Account Name],CustomerAccountID,LoanName,Principal,LoanAmount,PaymentPerPeriod,Balance,interest,
----LoanTerm,StartDate,EndDate,iif(BalanceExpected>balance,BalanceExpected,balance),[Balance Paid] ,iif(DefaultedAmount>balance,DefaultedAmount,balance),
----DefaulFrequency,
case 
WHEN DefaulFrequency< =2 THEN 1
WHEN DefaulFrequency>2 and DefaulFrequency<=4 THEN 5
WHEN DefaulFrequency>4 and DefaulFrequency<=6 THEN 25
WHEN DefaulFrequency>6 and DefaulFrequency<=12 THEN 50
WHEN DefaulFrequency>12 THEN 100
end as ClassOrder

,case 
WHEN DefaulFrequency<=2 THEN 'Performing'
WHEN DefaulFrequency>2 and DefaulFrequency<=4 THEN 'Watch'
WHEN DefaulFrequency>4 and DefaulFrequency<=6 THEN 'Substandard'
WHEN DefaulFrequency>6 and DefaulFrequency<=12 THEN 'Doubtful'
WHEN DefaulFrequency>12 THEN 'Loss'
end as Classification,


case 

WHEN DefaulFrequency<=2 THEN 1
WHEN DefaulFrequency>2 and DefaulFrequency<=4 THEN 5
WHEN DefaulFrequency>4 and DefaulFrequency<=6 THEN 25
WHEN DefaulFrequency>6 and DefaulFrequency<=12 THEN 50
WHEN DefaulFrequency>12 THEN 100
end *Balance *0.01 as provision_amount



from #tempx  --where reference1='5651-005-00061'  
--classorder
where balance>0 order by Reference1

drop table #tempx 
drop table #temp8

---where reference1='0101-001-00650'--

--select * from #tempx where balance<0
--where left(LoanName,3) IN('ADV','BAN')
--where left(LoanName,3) IN('A19','A51')

--,ceiling(DefaultedAmount),ceiling(DefaulFrequency),ClassOrder,Classification,provision_amount from #temp1
--order by DefaulFrequency




