USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[SP_AuditTrail]    Script Date: 28/08/2024 18:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP_AuditTrail '05/01/2016','09/30/2016','00000072'---- 5-02-00383422-00
CREATE procedure [dbo].[SP_AuditTrail] 
(
	@StartDate DateTime,
	@EndDate DateTime,
	@Reference varchar(10)
)
as

set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
set @Reference='%'+@Reference+'%'

SELECT DISTINCT 
                  dbo.SwiftFin_Customers.Reference1, dbo.SwiftFin_Customers.Reference2, dbo.SwiftFin_Customers.Reference3, dbo.SwiftFin_Customers.Individual_FirstName + dbo.SwiftFin_Customers.Individual_LastName AS Name, 
                  dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_Journals.SecondaryDescription, dbo.SwiftFin_Journals.Reference, dbo.SwiftFin_Journals.ApplicationUserName, dbo.SwiftFin_Journals.EnvironmentUserName, 
                  dbo.SwiftFin_Journals.EnvironmentMachineName, dbo.SwiftFin_Journals.EnvironmentDomainName, dbo.SwiftFin_Journals.EnvironmentOSVersion, dbo.SwiftFin_Journals.EnvironmentMACAddress, 
                  dbo.SwiftFin_Journals.EnvironmentMotherboardSerialNumber, dbo.SwiftFin_Journals.EnvironmentProcessorId, dbo.SwiftFin_Journals.CreatedDate as Valuedate, dbo.SwiftFin_Journals.EnvironmentIPAddress, dbo.SwiftFin_Journals.TotalValue, 
                  dbo.SwiftFin_Branches.Description AS TransactionBranch,SwiftFin_Journals.CreatedDate
FROM     dbo.SwiftFin_Journals INNER JOIN
                  dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_Journals.Id = dbo.SwiftFin_JournalEntries.JournalId INNER JOIN
                  dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id INNER JOIN
                  dbo.SwiftFin_Customers ON dbo.SwiftFin_CustomerAccounts.CustomerId = dbo.SwiftFin_Customers.Id INNER JOIN
                  dbo.SwiftFin_Branches ON dbo.SwiftFin_Journals.BranchId = dbo.SwiftFin_Branches.Id
WHERE SwiftFin_Journals.CreatedDate between @StartDate and @EndDate  and SwiftFin_Customers.reference1 like @Reference and SwiftFin_Journals.ParentId is null order by SwiftFin_Journals.CreatedDate







