USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AuditTrail_byuser]    Script Date: 28/08/2024 18:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_AuditTrail_byuser '05/01/2016','06/30/2016','00383422'---- 5-02-00383422-00
CREATE procedure [dbo].[sp_AuditTrail_byuser] 
(
	@StartDate DateTime,
	@EndDate DateTime
	--@userid nvarchar(50)
)
as

set @EndDate=	(select DATEADD(day, DATEDIFF(day, 0, @EndDate), '23:59:59'));
--set @userid='%'+@userid+'%'

SELECT DISTINCT 
                  dbo.SwiftFin_Customers.Reference1, dbo.SwiftFin_Customers.Reference2, dbo.SwiftFin_Customers.Reference3, dbo.SwiftFin_Customers.Individual_FirstName + dbo.SwiftFin_Customers.Individual_LastName AS Name, 
                  dbo.SwiftFin_Journals.PrimaryDescription, dbo.SwiftFin_Journals.SecondaryDescription, dbo.SwiftFin_Journals.Reference, dbo.SwiftFin_Journals.ApplicationUserName, dbo.SwiftFin_Journals.EnvironmentUserName, 
                  dbo.SwiftFin_Journals.EnvironmentMachineName, dbo.SwiftFin_Journals.EnvironmentDomainName, dbo.SwiftFin_Journals.EnvironmentOSVersion, dbo.SwiftFin_Journals.EnvironmentMACAddress, 
                  dbo.SwiftFin_Journals.EnvironmentMotherboardSerialNumber, dbo.SwiftFin_Journals.EnvironmentProcessorId, dbo.SwiftFin_Journals.ValueDate, dbo.SwiftFin_Journals.EnvironmentIPAddress, dbo.SwiftFin_Journals.TotalValue, 
                  dbo.SwiftFin_Branches.Description AS TransactionBranch
FROM     dbo.SwiftFin_Journals INNER JOIN
                  dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_Journals.Id = dbo.SwiftFin_JournalEntries.JournalId INNER JOIN
                  dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id INNER JOIN
                  dbo.SwiftFin_Customers ON dbo.SwiftFin_CustomerAccounts.CustomerId = dbo.SwiftFin_Customers.Id INNER JOIN
                  dbo.SwiftFin_Branches ON dbo.SwiftFin_Journals.BranchId = dbo.SwiftFin_Branches.Id
WHERE SwiftFin_Journals.CreatedDate between @StartDate and @EndDate 
-- and SwiftFin_Journals.ApplicationUserName like @userid







