USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[sp_AlternateChannels]    Script Date: 28/08/2024 18:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AlternateChannels]
	@Type int,
	@StartDate datetime,
	@EndDate datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT        dbo.SwiftFin_AlternateChannels.CardNumber, dbo.SwiftFin_Customers.Reference1, dbo.SwiftFin_Customers.Reference3, dbo.SwiftFin_AlternateChannels.Type, 
                         LTRIM(RTRIM(dbo.SwiftFin_Customers.Individual_FirstName)) + '  ' + LTRIM(RTRIM(dbo.SwiftFin_Customers.Individual_LastName)) AS Fullnames, 
                         dbo.SwiftFin_Customers.Individual_IdentityCardNumber,dbo.SwiftFin_AlternateChannels.CreatedDate,dbo.SwiftFin_AlternateChannels.CreatedBy
FROM            dbo.SwiftFin_AlternateChannels INNER JOIN
                         dbo.SwiftFin_CustomerAccounts ON dbo.SwiftFin_AlternateChannels.CustomerAccountId = dbo.SwiftFin_CustomerAccounts.Id INNER JOIN
                         dbo.SwiftFin_Customers ON dbo.SwiftFin_CustomerAccounts.CustomerId = dbo.SwiftFin_Customers.Id

						 where @Type=dbo.SwiftFin_AlternateChannels.Type and dbo.SwiftFin_AlternateChannels.CreatedDate between @StartDate and @EndDate
END
