USE [SwiftFinancialsDB_Live]
GO
/****** Object:  StoredProcedure [dbo].[NegativeAcccounts]    Script Date: 28/08/2024 17:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--NegativeAcccounts '09/25/2015', '09/30/2015'
CREATE PROC [dbo].[NegativeAcccounts]
@StartDate DateTime,
@EndDate DateTime
AS

SELECT        dbo.vw_CustomerAccounts.FullName, dbo.vw_CustomerAccounts.FullAccount, dbo.vw_CustomerAccounts.Reference1, 
case when sum(dbo.SwiftFin_JournalEntries.Amount) <=0 then sum(dbo.SwiftFin_JournalEntries.Amount)*-1 else 0 end as Debit,
case when sum (dbo.SwiftFin_JournalEntries.Amount) >=0 then sum(dbo.SwiftFin_JournalEntries.Amount) else 0 end as Credit,sum(dbo.SwiftFin_JournalEntries.Amount) AS BookBalance,sum(dbo.SwiftFin_JournalEntries.Amount)-dbo.SwiftFin_SavingsProducts.MinimumBalance  AS AvailableBalance
FROM            dbo.SwiftFin_ChartOfAccounts INNER JOIN
                         dbo.SwiftFin_JournalEntries ON dbo.SwiftFin_ChartOfAccounts.Id = dbo.SwiftFin_JournalEntries.ChartOfAccountId INNER JOIN
                         dbo.SwiftFin_Journals ON dbo.SwiftFin_JournalEntries.JournalId = dbo.SwiftFin_Journals.Id INNER JOIN
                         dbo.SwiftFin_SavingsProducts ON dbo.SwiftFin_ChartOfAccounts.Id = dbo.SwiftFin_SavingsProducts.ChartOfAccountId INNER JOIN
                         dbo.vw_CustomerAccounts ON dbo.SwiftFin_JournalEntries.CustomerAccountId = dbo.vw_CustomerAccounts.Id AND 
                         dbo.SwiftFin_SavingsProducts.Id = dbo.vw_CustomerAccounts.CustomerAccountType_TargetProductId
						 where dbo.SwiftFin_JournalEntries.Amount<0 and dbo.SwiftFin_JournalEntries.CreatedDate>@EndDate											
						 GROUP BY dbo.vw_CustomerAccounts.FullName, dbo.vw_CustomerAccounts.FullAccount,dbo.vw_CustomerAccounts.Reference1,dbo.SwiftFin_SavingsProducts.MinimumBalance 
						 
						 





