.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    animation: fadeIn 0.5s ease-out;
}


.modal-content {
    background: linear-gradient(to right, #007bff, #00d2ff);
    padding: 30px;
    border-radius: 15px;
    margin: 10% auto;
    color: white;
    text-align: center;
    transform: translateY(-20px);
    animation: slideIn 0.7s ease-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    button:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}
