#loanApplications {
    height: auto;
}

    #loanApplications th {
        text-align: center;
        text-transform: uppercase;
    }



body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #000;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.section-title {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

.signature {
    margin-top: 20px;
}

.signature-table {
    width: 100%;
    border: none;
    text-align: left;
}

    .signature-table td {
        padding: 5px;
        border: none;
    }


    .signature-table .line {
        width: 25%;
        border-bottom: 1px solid black;
    }
