#tabs-container {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    margin-bottom: 20px;
    overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

.nav-tabs {
    padding: 10px 0; /* Adjusted padding */
    list-style: none;
    margin: 0;
    white-space: nowrap; /* Prevent line breaks */
    font-weight: bold;
}

    .nav-tabs li {
        display: inline-block;
        margin-right: 20px;
        color: #333;
    }

    .nav-tabs a {
        text-decoration: none;
        font-size: 14px;
        color: #333;
        font-weight: bold; /* Set font weight to bold */
        padding: 10px 15px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease-in-out;
    }

        .nav-tabs a:hover {
            border-bottom-color: #007bff;
            color: #007bff;
        }
