.table-container {
    width: 100%;
    max-height: 400px; /* Set max height for scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
}

    #dataTable th, td {
        padding: 15px;
        text-align: center;
        border: 1px solid #ddd;
        transition: background 0.3s, transform 0.3s;
    }

    #dataTable th {
        background: linear-gradient(to bottom, #4a90e2, #003366);
        color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        position: sticky; /* Makes the header sticky */
        top: 0; /* Fixes the header at the top of the scrollable area */
        z-index: 1; /* Keeps header above other content */
    }

    #dataTable tr:hover td {
        background: rgba(74, 144, 226, 0.2);
        transform: translateY(-2px);
    }

    #dataTable td {
        background: #f9f9f9;
        color: #333;
    }

    #dataTable tr:nth-child(even) td {
        background: #f2f2f2;
    }

    #dataTable tr:nth-child(odd) td {
        background: #ffffff;
    }

    #dataTable tr:last-child td {
        border-bottom: none;
    }

.no-data-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}
