#ChargeSplits {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

    #ChargeSplits thead {
        background-color: white;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
    }

    #ChargeSplits th, #ChargeSplits td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    #ChargeSplits th {
        font-weight: bold;
    }

    #ChargeSplits tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #ChargeSplits tbody tr:hover {
        background-color: #f1f1f1;
    }
