#webcam {
    width: 100%; 
    border: 1px solid #ccc;
}

#passportPhotoPlaceholder img {
    width: 100%; 
    max-width: 80%; 
}

.form-group.row {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

@media (max-width: 768px) {
    .form-group.row {
        flex-direction: column;
    }
}
